
<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/getOld.css" rel="stylesheet" />
<!-- <link href="/css/listOld.css" rel="stylesheet" /> -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


	
<script>
Kakao.init('411d029fa78ad40e2673ffb6f26a7e00');
Kakao.isInitialized();
</script>

</head>
<style>

/* .img-showcase{ */
   
/*     filter: blur(0px) !important; */
    
/* } */
	.custom{
		    background: #000;
    padding: 3px;
    color: #fff !important;
	}
	
	.custom a{
    color: #fff !important;
	}
	
	.custom:hover{
		  
    padding: 4px;
    color: #ecf542 !important;
	}
	
	.custom a:hover{
		  
    padding: 4px;
    color: #ecf542 !important;
	}
	
	.purchase-info a{
	color:#fff !important;
	}
	

.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  
  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  
  /*hide default down arrow in webkit */
  -webkit-appearance: none; 
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

.heart{
	color:white;
}
.heart.filled{
	color:red;
}

.like{
	font-size:55px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}


/* 리뷰*/

#review-form{
    position: absolute;
    top: -9999px;
    left:-9999px;
  
}

#review-form.on{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 510px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.reviewBackground{
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0.3;
}

 
  .reviewBackground.on{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    
 }
  .star-rating2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
      width: 300px;
      display: flex !important;
    flex-direction: row-reverse;
    margin:0 auto;
        height: 42px !important;
} 
.regBtn{
	    border: none;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor:pointer;
    width:100%;
}

.regBtn:hover{
	background:#cecece;
}
 
.star-rating2 input {
  display: none;
}
 
.star-rating2 label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating2 :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating2 label:hover,
.star-rating2 label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

.star-rating,.star-rating span { 
	display:inline-block; 
	height:100%; 
	overflow:hidden; 
	background:url(/images/header/starMiniNullGrey.png)no-repeat center/cover;
} 

#smStar{
	font-size:0; 
	line-height:0; 
	vertical-align:top; 
	/* width: 100%;  이 값이 평점과 연관되어있음*/
}

</style>



<body>
	<!-- Navigation-->
	<div th:replace="main/toolbar.html"></div>

	<div class="card-wrapper">

		<div class="card">
			<!-- card left -->

			<div class="product-imgs">
				<div class="img-display">
				          <!-- 	하트 왜 likeNo 0으로 올까 -->
					<div class="like">
					<input type="hidden" id="oldNo" name="oldNo" th:value="${old.oldNo}"/>
					<span th:unless="${old.oldLikeNo}==0"><a class="heart filled" href="#"><i class="fa fa-heart filled" aria-hidden="true"></i></a></span>
					<span th:if="${old.oldLikeNo}==0"><a class="heart" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></span>
					</div>	
	
<!-- 	////			큰 사진 ///-->
				
					<div class = "img-showcase abc" th:if="${old.oldState==1}" >
					<img th:each = "img : ${oldImgList}" th:src= "@{/images/uploadFiles/} + ${img.fileName}" >
					</div>
					<div class="img-showcase def" id="img-showcase" th:if="${old.oldState==0}"  style="filter: blur(3px)" >
						<img th:each = "img : ${oldImgList}" th:src= "@{/images/uploadFiles/} + ${img.fileName}" >
					</div>

<!-- ////버튼///// -->
		
					<span sec:authorize="isAuthenticated()">
					<div class="buttons" th:if="${#authentication.principal.user.userId}==${old.userId}">
							
							<button type="button" class="btn custom" onclick="js:deleteold()" >삭제
							</button>
							
							<button type="button" class="btn custom" >
								<a th:href="@{/old/updateOld(oldNo=${old.oldNo})}">수정</a>
							</button>
							
							<button type="button"  id="updateOldDate" class="btn custom"    onclick="js:datediff()"   >끌올
							</button>

					
					
					</div>						
					
					</span>
					
					
					
			
			</div>

<!--/// 밑에 조그만 사진들 ///-->
				<div class="img-select">
					<div class="img-item" th:each = "img,n : ${oldImgList}">
						<a href="#" data-id="1">
						<input type="hidden" class="imgid" th:value="${n.index+1}">
						 <img th:src="@{/images/uploadFiles/} + ${img.fileName}">
						</a>
					</div>
					
					</div>


			</div>
			<!-- card right -->
			<div class="product-content">
				
				
				<h2 class="product-title" id="oldTitle" th:text=${old.oldTitle}></h2>

				<div class="categoryaddr">

					<div class="category" th:text=${old.category}></div>
					/
					<div class="oldAddr" th:text=${old.oldAddr}></div>
					/ 조회
					<div class="oldView" th:text=${old.oldView}></div>
				</div>

				<div class="oldDate"  id="oldDate" th:text=${old.oldDate}></div>
			
				<div class="user">

					<table>
						<tr>
							<td>

							<div class="userProfile" >
								<a th:href="@{/user/getUser(userId=${old.userId})}" >
									<img th:src=  "@{/images/uploadFiles/} + ${user.userImg}"  onerror="this.src='/images/uploadFiles/noUserImg.jpg'"  >
								</a>
							</div>

							</td>

							<td>
								<div style="display:flex; align-items:center;">
							
							           		<span class="star-rating">
							            		<span id="smStar"><img src="/images/header/starMini.png"></span>
							            	</span>	
							            	<span id="userRate" th:text=${oldReview.userRate}></span> 			
							            	
								</div>
							<div>								  									   											
												<span class="a" th:text=${user.userId} style="position:relative;top:-20px;"></span>
											</div>
							

							</td>
						</tr>
					</table>

				</div>

				<div class="purchase-info">
				<div class="loginUser">
					<span sec:authorize="isAuthenticated()">
					 <span class="hiddenUserId" style="display:none" sec:authentication="principal.user.userId" th:text="${#authentication.principal.user.userId}"></span>
				<!--  	<a th:href="@{'http://192.168.0.42:3001/oldChat/init/'+${#authentication.name}+'/'+${old.oldNo}}" target=”_blank”>-->
				<!-- <a th:href="@{'http://192.168.0.8:3001/oldChat/init/'+${#authentication.name}+'/'+${old.oldNo}}" target=”_blank”> </a>-->
				
					<button type="button" class="btn chatButton" th:if="${#authentication.principal.user.userId} !=${old.userId}">
					채팅하기
					<i class="fa-solid fa-comments"></i>
					</button>
					
					</div>
					</span>
					
					<div class="logoutUser">
					<span sec:authorize="isAnonymous()">
					<button type="button" class="btn">
					
					<a th:href="@{/user/login}">
					채팅하기(login)
					</a>
						<i class="fa-solid fa-comments">
						 
						</i>
					</button>
					</span>
					</div>	
				</div>


				<div class="kakaolike">

					<div class="social-links" onclick="js:setShare()">
					
						<a href="#">카카오 공유	 
<!-- 						<img alt="" src="/images/content/kakao.png"></i> -->
						<i class="fa-solid fa-comment"></i>
						</a>

					</div>

<!-- 					<div class="oldLike"> -->

<!-- 						<button type="button" class="btn"> -->
<!-- 							찜하기<i class="fa-solid fa-heart"></i> -->
<!-- 						</button> -->

<!-- 					</div> -->
				</div>
				
<!-- oldState 중고거래 상태 -->

<span sec:authorize="isAuthenticated()">
<div class="soldornot"  th:if="${#authentication.principal.user.userId}==${old.userId}">
  

  <button th:if="${old.oldState}==1" type="button" class="btn" id="onSale" onclick="js:onSale()" style="background: #8000ff;color: white" >
							판매중
						</button>
 <button th:if="${old.oldState}==1" type="button" class="btn" id="sold" onclick="js:sold()">
							거래완료
						</button>
	<button th:if="${old.oldState}==0" type="button" class="btn" id="onSale" onclick="js:onSale()">
							판매중
						</button>					
	<button th:if="${old.oldState}==0" type="button" class="btn" id="sold" onclick="js:sold()" style="background: #8000ff;color: white" >
							거래완료
						</button>
 					
  
</div>
</span>		



				<div class="product-price">
					<!--         <p class = "last-price">Old Price: <span>$257.00</span></p> -->
					<span th:text=${old.oldPrice}></span> <span>원</span>
				</div>

				<div class="product-detail" id="Detail">



					<p class="oldDetail" id="oldDetail" th:text=${old.oldDetail}></p>

				</div>
					
					



			</div>

		</div>

	</div>
	<div class="container tempList old">
		<div class="row">
			<div class="col-md-12">
			
				<h2 class="oldUnder">같은 카테고리의 물품들</h2>
      <div class="old-list">

        <!-- BEGIN old -->
        <div class="old" th:each="old : ${list}">
						<div class="owl-item active" style="width: 270px;">

							<div class="item" >
								<div class="try_rc_mob_box_wrapper">
									<div class="try_rc_mob_img">
										<img  width="300" height="205"  th:src="@{/images/uploadFiles/} + ${old.oldImg}" >
										<!--	<h5>Sale</h5>  -->
										
									</div>
									<div class="try_rc_mob_img_cont">
										<h2 class="product-title" id="oldTitle" th:text=${old.oldTitle}></h2>

									</div>
									<div class="try_rc_mob_img_cont_bottom">
										<p>
											<span class="new-price" th:text="|${old.oldPrice}원|"></span>
										</p>
										<div class="try_mob_btn_wrapper">
											<a th:href="@{/old/getOld(oldNo= ${old.oldNo})}">자세히 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
        
        <!-- END old -->
        

      </div>
				<!-- END old List -->
	<h2 class="oldUnder">같은 판매자의 물품들</h2>
				<div class="old-list">

					<!-- BEGIN old -->
					<div class="old" th:each="old : ${listUser}">
						<div class="owl-item active" style="width: 270px;">

							<div class="item" >
								<div class="try_rc_mob_box_wrapper">
									<div class="try_rc_mob_img">
										<img  width="300" height="205"  th:src="@{/images/uploadFiles/} + ${old.oldImg}" >
										<!--	<h5>Sale</h5>  -->
																			</div>
									<div class="try_rc_mob_img_cont">
										<h2 class="product-title" id="oldTitle" th:text=${old.oldTitle}></h2>

									</div>
									<div class="try_rc_mob_img_cont_bottom">
										<p>
											<span class="new-price" th:text="|${old.oldPrice}원|"></span>
										</p>
										<div class="try_mob_btn_wrapper">
											<a th:href="@{/old/getOld(oldNo= ${old.oldNo})}">자세히 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- END old -->

				</div>
			</div>
		</div>
	</div>







	<!-- Footer-->
	<div th:replace="main/footer.html"></div>

	<script src="/js/getProduct.js"></script>
	<script src="/js/getOld.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<!-- 	<script src="/js/share.js"></script> -->


	 <!-- 리뷰박스 -->
	 <div class="reviewBackground"></div>
	 <div class="Rentalcontainer">
		<form id="review-form"  enctype="multipart/form-data">
		<input type="hidden" name="tranNo" class="innerTranNo"></input>
		<input type="hidden" name="reviewDone" class="reviewDone"></input>
		<input type="hidden" name="prodNo" class="prodNo"></input>
		<span class="close">닫기</span>
		<!-- <input type="hidden" class="starValueText"  name="reviewScore"></input> -->
	  
	  	<span id="starsInfo" class="help-block">
	    	상품에 대한 별점을 남겨주세요 !
	  	</span>
	  			
	  			<select class="selectBox" name="reviewedUser.userId">
	  				<span class="chatUserList" th:each = "userList : ${chatList}">
	           			<option name="reviewedUser.userId" th:value="${userList.inquireUserId}">[[${userList.inquireUserId}]]</option>
	                </span>
                </select>
	  			<input type="hidden" id="oldNo" name="old.oldNo" th:value="${old.oldNo}"/>
	  			
	  			
		        <div class="star-rating2 space-x-4 mx-auto">
						<input type="radio" id="5-stars" name="userRate" value="5"  v-model="ratings"/>
						<label for="5-stars" class="star pr-4">★</label>
						<input type="radio" id="4-stars" name="userRate" value="4"  v-model="ratings"/>
						<label for="4-stars" class="star">★</label>
						<input type="radio" id="3-stars" name="userRate" value="3"  v-model="ratings"/>
						<label for="3-stars" class="star" selected>★</label>
						<input type="radio" id="2-stars" name="userRate" value="2"  v-model="ratings" selected/>
						<label for="2-stars" class="star">★</label>
						<input type="radio" id="1-star" name="userRate" value="1"  v-model="ratings" />
						<label for="1-star" class="star">★</label>
				</div>
				
		<div class="form-group">
		  <!--  <label class="control-label" for="review">Your Review:</label> -->
		  	<textarea class="form-control" rows="10" placeholder="Your Reivew" name="reviewDetail" id="review"></textarea>
			<span id="reviewInfo" class="help-block pull-right"></span>
		</div>
		<button type="button" class="regBtn" >등록하기 </button>
		</form>
		<div id="review-container"></div>
	</div>
</body>
	<script src="/js/jquery_min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
function setShare(){
	var title = /*[[${old.oldTitle}]]*/ +')';
	var description = /*[[${old.oldDetail}]]*/ +')';

Kakao.Link.sendDefault({
	
  objectType: 'feed',
  content: {
    title: title,
    description: description,
 	
    imageUrl:'https://for-rest.kro.kr/images/uploadFiles/98510180-9d55-439c-a94a-93625b1c252a.jpg',
    link: {
      webUrl: 'https://for-rest.kro.kr/old/getOld?oldNo=' + /*[[${old.oldNo}]]*/ +')',
    },
  },
 
});
}

function datediff(){
	
	var olddate = moment(  /*[[${old.oldDate}]]*/ );
	var today = moment();
	var diff = olddate.diff(today, "days");
// 	var confirmolddate = confirm("게시물을 끌어올리시겠습니까?");
	var confirmolddate = Swal.fire({
		
		title: '게시물을 끌어올리시겠습니까?',
		icon:'info',
		showCancelButton: true,
		confirmButtonText:'예', // 확인 옵션 버튼
        cancelButtonText:'아니요' // 취소 버튼 텍스트 


	}).then((result) => {
		if (diff <=3){
			{
		if (result.value){
			
			location.href='/old/updateOldDate?oldNo=' + /*[[${old.oldNo}]]*/ +')';
	
		}
		
		else{
			Swal.fire({
				title: '끌어올리기 취소'
			});
			} 
		}
	
} else {
		Swal.fire({
			title:'등록일 또는 마지막 끌어올리기 날짜로부터 3일 이상 경과해야 합니다.'
		});
		return;
	}
	})
}
	
	
	
// 	if (diff <=3){
		
// 		{  
// 			if(confirmolddate){
			
// 			Swal.fire({
				
// 				title: '끌어올리기 완료',
// 				icon:  'info', 
				
// 			})
// 			location.href='/old/updateOldDate?oldNo=' + /*[[${old.oldNo}]]*/ +')';
// 		}
// 		else{
// 			alert("끌어올리기 취소");
// 			} 
// 		}
			
// 	} else {
// 		alert("등록일 또는 마지막 끌어올리기 날짜로부터 3일 이상 경과해야 합니다.");
// 		return;
// 	}
// }

function deleteold(){
	
	var confirmdelete = confirm("게시물을 삭제하시겠습니까?");
	
		if(confirmdelete){
						alert("삭제 완료");
						location.href='/old/deleteOld?oldNo=' + /*[[${old.oldNo}]]*/ +')';
		}
		else{
			alert("삭제 취소");
			return;
		}
}

function onSale(){
	
	Swal.fire({
		title:'판매중',
		icon:' success'
	}).then((result) => {
	location.href='/old/updateOldOnSale?oldNo=' + /*[[${old.oldNo}]]*/ +')';
	
})
	}
$(function(){
//리뷰닫기
$('.close').on("click",function(){
	  $('#review-form').removeClass("on");
	  $('.reviewBackground').removeClass("on");
})

$('.regBtn').on("click", async function(){
	
	  $('#review-form').removeClass("on");
	  $('.reviewBackground').removeClass("on");
	  
	  $(".reviewDone").val(1);
	  let inquireUserId=$("option:selected").val();
	  let oldNo=$("#oldNo:first").val();
	  
	  console.log("리뷰돈"+$(".reviewDone").val());
	  
	  $("#review-form").attr("method" , "POST").attr("action" , "/oldReview/addOldReview").submit();
	  

	   axios.defaults.withCredentials = true;
	   await axios.get('http://192.168.0.8:3001/oldChat/oldReview/'+oldNo+'/'+inquireUserId);
	  
	  
})
});

function sold(){
	  $('#review-form').addClass("on");
	  $('.reviewBackground').addClass("on");
}

//"리뷰등록하기"버튼





		$(".heart").on("click" , function() {	        
			
			var oldNo = $(this).parent().parent().parent().find("#oldNo").val();
			console.log(oldNo);
			
			$.ajax({
	            type : "POST",  
	            url : "/oldLike/addOldLike",       
	            dataType : "json",   
	            data : oldNo,
	            error : function(){
	               alert("로그인이 필요한 서비스입니다.");
	            },
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
	            success : function(heartCheck) {
	                
	                    if(heartCheck){
	                    	
	                    console.log("찜하기 완료");
				        $(this).addClass('filled');
				        location.reload();
       
	                    }
	                    else if (heartCheck){
	                     alert("이미 찜한 물품 입니다");

	                    	location.reload();
	                	}
	                    
	                    
	            	}
	        	})
			
			}); 
		
		$( ".heart.filled" ).on("click" , function() {	        
			var oldNo = $(this).parent().parent().parent().find("#oldNo").val();
			console.log(oldNo);
			
			$.ajax({
	            type : "POST",  
	            url : "/oldLike/deleteOldLikeOnList",       
	            dataType : "json",   
	            data : oldNo,
	            error : function(){
	               alert("로그인이 필요한 서비스입니다.");
	            },
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
	            success : function(heartCheck) {
	                
	                    if(heartCheck){
	                    	
	                    console.log("찜삭제 완료");
				        $(this).removeClass('filled');
				        location.reload();
	
	                    }
	                    else if (heartCheck){
	                    	alert("이미 삭제한 물품 입니다");                 
	                    	location.reload();
	                	}
	                    
	                    
	            	}
	        	})
			
			}); 

		
		



/*]]>*/

$(function(){
	var userRate = $('#userRate').text();
	userRate = userRate.substr(0,3);
	$('#userRate').text(userRate);
	if(userRate==0.0){
		$('#smStar').width(($('#userRate').text()*20)+"%");
	}
	$('#smStar').width(($('#userRate').text()*20)+"%");
	
$('.chatButton').click(function(){
	alert("서비스 준비중입니다.");
})
	
})



</script>

</html>