<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	 <link rel="stylesheet" href="/css/addRentalReview.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<!-- 다음주소API -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<style>
td{
	padding-bottom:10px !important;
}
.table{
	margin-bottom: 80px !important;
}
.page-header{
margin: 40px 0 0px !important;
border-bottom:3px solid #ddd !important;
}

	.tableBody td {
		width:33%;
 		vertical-align: middle !important;
	}
	
	.tableBody td > div {
		display:flex;
	}
	
	.tableBody td img{
		text-align:left;
		width:100px;
	}
	
	.tableBody td span{
		display:flex;
		align-items:center;
		padding:10px;
	}
	
	.borderTopNone{
		border-top:none !important;
	}
	.borderRight{
		border-right:1px solid #ddd;
	}
	.textCenter{
		text-align:center;
	}
	.borderBottom{
		border-bottom:1px solid #ddd;
	}
	.boxScroll {
    width: 96%;
    height: 130px;
    overflow: auto;
    BACKGROUND: #ffffff;
    COLOR: #585858;
    font: 9pt 돋움;
    border: 1px #dddddd solid;
    overflow-x: hidden;
    text-align: left;
    margin-left: 15px;
}
.container.list{
	  display: flex;
    justify-content: center;
	padding-right:180px;
	padding-top: 120px;
    width: calc(100% - 210px);
    float: right;
}

 textarea {
 
    width: 400px;
    height:200px;
    resize: none;
  	border: none;
  	background-color: #F3F3F3;
  }
  
 input{
    border-radius: 10px;
    border: none;
    background: #efefef;
    margin: 6px;
    padding: 5px;
    font-size:14px;
}

.update-btn{
	padding:5px;
	background:#262626;
	border:none;	
	border-radius:10px;
	color:#fff;
}

.priv-btn{
	padding:5px;
	background:#262626;
	border:none;	
	border-radius:10px;
	color:#fff;
}

select{
		border: none;
	    BACKGROUND: #F3F3F3;
}


</style>
<body>

<!-- 로딩시 뜨는 아이콘 -->
	<!-- <div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>
 -->

<!-- 툴바 include -->
<div th:replace="main/toolbar.html"></div>


<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">


				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	   
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 <form class="form-inline" name="detailForm" method="post" enctype="multipart/form-data">
	 <input type="hidden" id="currentPage" name="currentPage" value=""/>
		 <!--  table Start /////////////////////////////////////-->
		 
		 
		 
		 			<input type="checkbox" class="cbox"> 이미지를 수정하고 싶습니다.
					<div class="main-wrapper">
						<div id="fileDiv">
							<p>
								<input type="file" id="file_0" name="uploadFile" style="display:none" onchange="change()">
							</p>
						</div>
						<div class="img-upload-plugin">
							<div class="img-upload-handler">
								<div class="img-preview-big">
								<img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-default-placeholder.png">
									<div class="img-delete">
									<img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-delete-icon.png">
									</div>
								</div>
							</div>
						<div class="img-preview-operate">
							<div class="img-holder" style="display: inline-block; padding: 2px;"></div>
							<button type="button" class="img-add-more">
							<img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-add-more-btn.png">
							</button>
						</div>
						<input type="file" name="img-upload-input" style="display:none">
						</div>
					</div>
					<input type="hidden"  name="prodImg" th:value="${product.prodImg}">
					<input type="hidden"  name="prodNo" th:value="${product.prodNo}">
		<!--  table End /////////////////////////////////////-->
		
		<!-- 물품정보등록 -->
		
			<div style="margin-top:20px; color:#a76161; padding-bottom:10px;">
			보관정보
		</div>
		
		<table width="100%" style="border:1px solid #DEDEDE" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
	물품정보
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody>
	<tr>
		<td>물품이름</td>
		<td><sapn name="prodName" th:text = "${product.prodName}"></sapn></td>
	</tr>

	<tr>
		<td>카테고리</td>
		<td>
			  <select th:field=${product.category} th:value=${product.category} name= "category">
   
        	 <option value="텐트">텐트</option>
	         <option value="침대">침대</option>
	         <option value="의자">의자</option>
	         <option value="그릴">그릴</option>
	         <option value="버너">버너</option>
	         <option value="조명">조명</option>
	         <option value="테이블">테이블</option>
	         <option value="식기">식기</option>
	         <option value="난로">난로</option>
	         <option value="기타용품">기타용품</option>
  
          </select>
		
		</td>
	</tr>
	
		<tr>
		<td>크기</td>
		<td >
		<span th:text =" ${product.width}"></span> x <span th:text = "${product.length}"></span> x <span th:text = "${product.height}"></span>
		</td>
	</tr>
	
	<tr>
		<td>물품설명</td>
		<td><textarea name="prodDetail" th:text = "${product.prodDetail}"></textarea></td>
	</tr>
	
	<tr>
		<td>물품수량</td>
		<td >
		<sapn th:text = "${product.prodQuantity}"></sapn> 개
		</td>
	</tr>
	
	</tbody></table>

	</td>
</tr>
</tbody></table>
		<!-- 물품정보등록 끝 -->
		
		<!-- 대여관련정보 -->
		<div style="margin-top:20px; color:#a76161; padding-bottom:10px;">
			대여관련정보
		</div>
		
		<table width="100%" style="border:1px solid #DEDEDE" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
	대여정보
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody>
	<tr>
		<td>대여가능여부</td>
		<td class="noline">
		<input type="radio" value=1 name="isRental" th:checked="${product.isRental eq 1}"> 대여가능
		<input type="radio"  value=0 name="isRental" th:checked="${product.isRental eq 0}"> 대여불가
		</td>
	</tr>
	
	<tr>
		<td>물품대여가격</td>
		<td><input type="text" id="rentalPrice"       name="rentalPrice" th:value = "${product.rentalPrice}"> 원</td>
	</tr>
	

	<tr>
		<td>계좌번호</td>
		<td>
			 <select class="accountBank" name= "accountBank">
        	 <option value="국민">국민</option>
	         <option value="기업">기업</option>
	         <option value="외환">외환</option>
	         <option value="NH농협">NH농협</option>
	         <option value="우리">우리</option>
  
          </select>
		 
		  
		  <input type="text" name="accountNumber" > 
		 
		  <input type="hidden"  class="account" name="account" >
		</td>
	</tr>
	

	
	</tbody></table>
	
	

	</td>
</tr>
</tbody></table>
		<!-- 대여관련정보 끝 -->
		
     
      
  <div style="margin-top:20px; color:#a76161; padding-bottom:10px;">
			반송관련정보
		</div>


<div style="font-size:0;height:5px"></div>
<table width="100%" style="border:1px solid #DEDEDE" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
	반송정보
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody>

	
				<tr>
		<td>반송주소</td>
		<td>
	 <div class="form-group">
	 <div class="col-sm-5">
		  <input type="hidden"  class="divyAddress" name="divyAddress" value="">
		  <span style="display:flex;">	
		 	<input type="text" id="divy_postcode" name="divyPostcode" >
		 	<input type="button" onclick="divy_execDaumPostcode()" value="우편번호 찾기" style="background:#9a9a9a; color:#fff;"><br>
		 </span>
	     <input type="text" id="divy_address"  name="divyBaseAddress"    style="width:310px"><br>
	     <input type="text" id="divy_extraAddress"  name="divyExtraAddress"   style="width:310px">
		 <input type="text" id="divy_detailAddress"  name="divyDetailAddress"   style="width:310px">
		   </div>
</div>  
	</tr>
	
	


	</tbody></table>

	</td>
</tr>
</tbody></table>

<div style="padding:20px; margin-bottom:70px; margin-top:40px;" align="center" class="noline">
	
	<button class="update-btn">저장하기</button>
</div>


	</form>
	
	<input type="hidden"  class="parsingAcc" name="accountAcc" th:value = "${product.account}">
	<input type="hidden"  class="parsingAddr" name="parsingAddr" th:value = "${product.divyAddress}">
</div>
<!--  화면구성 div End /////////////////////////////////////-->

<!-- footer -->
     <div th:replace="main/footer.html"></div>
 
</body>
<script src="/js/jquery_min.js"></script>
<script src="/js/addImgForStorageOld.js"></script>

	
	
<script>


//반송주소변경
function divy_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("divy_extraAddress").value = extraAddr;
            
            } else {
                document.getElementById("divy_extraAddress").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('divy_postcode').value = data.zonecode;
            document.getElementById("divy_address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("divy_detailAddress").focus();
        }
    }).open();
}

//csv를 넣어 주소를 하나로 합치는 함수
function combineAddr(){
	 
	
	 var divyAddrValue = "";
	 
	 var divyAddrValue = $("input[name='divyPostcode']").val() + "/"  + $("input[name='divyBaseAddress']").val() + "/" 
		+  $("input[name='divyDetailAddress']").val() + "/" +  $("input[name='divyExtraAddress']").val();
	 
	//alert(divyAddrValue);
	 $('.divyAddress').val(divyAddrValue);
	 
	
	 
}

//csv를넣어 계좌를 합침
function combineAccount(){
	 
	 var account = "";
	 
	 var account = $(".accountBank option:selected").val() + "/"  + $("input[name='accountNumber']").val()
	 
	//alert(account); 
	$('.account').val(account);
}

//업데이트화면에 들어왔을때 기존의 정보를 파싱해서 화면에 출력
$(document).ready(function(){
	
	//계좌번호
	var account = $(".parsingAcc").val();
	var accountArr = account.split("/");
	var account1 = accountArr[0];
	var account2 = accountArr[1];
	
	 $("select[name='accountBank']").val(account1);
	 $("input[name='accountNumber']").val(account2);
	 
	 //주소
	 var divyAddress = $(".parsingAddr").val();
	 var divyAddressAddr = divyAddress.split("/");
	 var divyAddress1 = divyAddressAddr[0];
	 var divyAddress2 = divyAddressAddr[1];
	 var divyAddress3 = divyAddressAddr[2];
	 var divyAddress4 = divyAddressAddr[3];
	 
	 
	 $("#divy_postcode").val(divyAddress1);
	 $("#divy_address").val(divyAddress2);
	 $("#divy_extraAddress").val(divyAddress3);
	 $("#divy_detailAddress").val(divyAddress4);

	});
	
//저장하기 클릭시 업데이트 
$(function(){
	 $(".update-btn").on("click", function(){
		 combineAccount();
		 combineAddr();
		 
		 if($(".cbox").is(":checked")){
			 if ( $("input[name='uploadFile']").length <5 ) {
				
			 alert("사진은 4장 이상 10장 이하로 등록해주세요.")
			 return;
			 } else{
		 			$('form').attr('method', 'POST').attr('action', '/product/updateProduct');
			 }
		 }else{
			 $('form').attr('method', 'POST').attr('action', '/product/updateProduct');
		 }	 
	 })
	 
	 $(".cbox").change(function(){
		 if($(this).is(":checked")){
			 console.log("체크됨");
			 $(".main-wrapper").addClass("checked")
			 $(".main-wrapper").show();
		 }else{
			 console.log("체크풀림");
			 $(".main-wrapper").removeClass("checked")
			 $(".main-wrapper").hide();
		 }
	 })
});
	

</script>
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>