<!-- <head th:fragment="head"> -->

<head>

   <!-- jQuery UI toolTip 사용 CSS-->
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/responsive.css" /> -->

<!-- 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
    -->
    <link rel="shortcut icon" type="image/png" href="/images/header/favicon.png" />
    <link rel="stylesheet" href="/css/style.css"> 
   <link rel="stylesheet" href="/css/toolbar.css"> 
<script src="https://kit.fontawesome.com/cbaaada23a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
<!-- 스위트얼럿 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    	<!-- Firebase message 수신을 위한 JS 
	  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
	  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
	  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
	  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-storage.js"></script>
	  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-messaging.js"></script>
      <script src="/js/notification.js" defer></script>-->
      
      <style>
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Hi+Melody&family=Nanum+Gothic+Coding&family=Whisper&display=swap');
.navigation {
  height: 70px;
  background: #000;
 position:fixed;
 z-index:100;
 width:100%;
    font-family: 'lato', sans-serif;
    top:0;
    left:0;

}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
    max-width: 1300px;
    margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #000;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.chatBtn:after{display:none;}

</style>
</head>

<body>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a th:href="@{/}">FOR REST</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" ><span></span></a></div>
      <ul class="nav-list">
      <th:block sec:authorize="hasAuthority('admin')">
      	
      	</th:block>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/old/listOld}">중고마켓</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/old/listOldAfterLogin}">중고마켓</a>
        </li>
  
         <li>
            <a th:href="@{/storage/storageMain}">장비보관</a>
        </li>
        
        
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/product/listProduct}">렌탈마켓</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/product/listProductAfterLogin}">렌탈마켓</a>
        </li>
        
         <!-- 고객센터 -->
        <li style="cursor:pointer;">
          <a>고객센터</a>
          <ul class="nav-dropdown">
            <li>
             <a th:href="@{/board/listAnnounce}">공지사항</a>
            </li>
            <li>
              <a th:href="@{/board/listFAQ}">FAQ</a>
            </li>
          </ul>
        </li>
        
        <!-- 로그인 안 했으면 "로그인" -->
         <span sec:authorize="isAnonymous()">
           <li style="cursor:pointer;">
                   <a th:href="@{/user/login}">로그인</a>
           </li>
         </span>
         
           <span sec:authorize="isAuthenticated()">
           		<li style="cursor:pointer;">
           			 	<a class="cartBtn" th:href="@{/wishlist/getWishlist}">
           	  				<i class="fa-solid fa-cart-shopping" style="transform:scale(1.5);"></i>
           	  			</a>
           		</li>
           
           		<li style="cursor:pointer;"> 
           		<!-- <a class="chatBtn" th:href="@{'http://192.168.0.42:3001/oldChat/list/'+${#authentication.principal.user.userId}}" target="_blank"> -->
           	  <span class="hiddenUserId2" style="display:none" sec:authentication="principal.user.userId" th:text="${#authentication.principal.user.userId}"></span>
           	  
           	 
           	  <a class="chatBtn" style="display:none;">
       			 	<i class="fa-solid fa-comment " style="transform:scale(1.5);"></i>
       			 </a>  
           		
       		  </li>
         </span>
         
         	<!-- 로그인했으면 마이페이지 보기 -->
         <span sec:authorize="isAuthenticated()">
          <li style="cursor:pointer;"> 
          <a>   
      	    <i class="fa-solid fa-circle-user" style="transform:scale(1.5);"></i> 
          </a>
          <ul class="nav-dropdown">
            <li>
            
               <a th:href="@{/storage/listStorage}">마이페이지</a>
             
            </li>
            <th:block sec:authorize="hasAuthority('admin')">
            <li>
              <a th:href="@{/rental/listRentalForAdmin}">운영자 관리</a>
            </li>
            </th:block>
              <li>
            </li>
            <th>
	            <li>
	              <a id= "logout"  th:href="@{/logout}" >
	              로그아웃</a>
	            </li>
            </th>
            <!-- <th th:with="user=${#authentication.getPrincipal().user}">
            	<span th:if="${user.joinPath}=='kakao'">
		            <li>
		              <a id ="kakaoLogout" href="https://kauth.kakao.com/oauth/logout?client_id=14488329bb0ccdf08f6b761a0726ab5a&logout_redirect_uri=http://localhost:8080/" >
		               	카카오로그아웃</a>
		            </li>
	            </span>
            </th> -->
          </ul>
        </li>
        </span>
        
        
      </ul>
    </nav>
  </div>
</section>

   
</body>
   <script src="/js/jquery_min.js"></script>
<script>

   $(function(){
     const mypageIcon = $('.mypageIcon');
      const dropLayer = $('.dropHeader .member');
      const toggleArrow = $('.toggleArrow');
      
      $(mypageIcon).on('click',function(){
         
         dropLayer.toggleClass('selected');
         toggleArrow.toggleClass('on');
      });
      
  	$("#logout").on("click",function(){
  		sessionStorage.clear();
  		localStorage.clear();
  		//$(location).attr("href", "https://kauth.kakao.com/oauth/logout?client_id=14488329bb0ccdf08f6b761a0726ab5a&logout_redirect_uri=http://localhost:5000/logout")
	});      
      
   });
   (function($) { // Begin jQuery
        $(function() { // DOM ready
          // If a link has a dropdown, add sub menu toggle.
          $('nav ul li a:not(:only-child)').click(function(e) {
            $(this).siblings('.nav-dropdown').toggle();
            // Close one dropdown when selecting another
            $('.nav-dropdown').not($(this).siblings()).hide();
            e.stopPropagation();
          });
          // Clicking away from dropdown will remove the dropdown class
          $('html').click(function() {
            $('.nav-dropdown').hide();
          });
          // Toggle open and close nav styles on click
          $('#nav-toggle').click(function() {
            $('nav ul').slideToggle();
          });
          // Hamburger to X toggle
          $('#nav-toggle').on('click', function() {
            this.classList.toggle('active');
          });
        }); // end DOM ready
      })(jQuery); // end jQuery
   
      
      $(function(){
    	  
    	  $('.chatBtn').on('click',function(){
    		  alert("서비스 준비중입니다.")
    	/* 	  var userId = $('.hiddenUserId2').text();
    		  
    		  console.log(userId);
    		  
    		  window.open('http://192.168.0.8:3001/oldChat/list/'+userId
    		    	    		 ,'popup test',
    		    	     		      'width=500');
    		 */
    	  })
    	//  window.open('http://192.168.0.42:3001/oldChat/'
    	//	      +'{{immediate.oldNo}}?chatRoomNo={{immediate.chatRoomNo}}','popup test',
    	//	      'width=500');
    	  
      
      })
      
  
</script>
<!-- <script>
 $(function() {
   // Preloader 
   jQuery(window).on('load', function() {
      console.log("충돌테스트");
       jQuery("#status").fadeOut();
       jQuery("#preloader").delay(350).fadeOut("slow");
   });

}); 
</script> -->
   <!--footer news End

   <script src="/js/modernizr.js"></script>
   <script src="/js/bootstrap.js"></script>
   <script src="/js/owl.carousel.js"></script>
   <script src="/js/pagenav.js"></script>
   <script src="/js/custom.js"></script>


-->