<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="/css/addAnnounce.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="/css/getAnnounce.css">
</head>

<body>

<!-- 로딩시 뜨는 아이콘 -->
	<div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>


<!-- 툴바 include -->
<div th:replace="main/toolbar.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
	<div class="page-header text-info">
		 <h3>공지사항 등록</h3>
	</div>
		
	 <form class="form-inline" name="detailForm" enctype="multipart/form-data">
	 
	 	<div class="input-group">
		  <span class="input-group-addon" id="boardTitle">제목</span>
		  <input type="text" class="form-control" name="boardTitle" placeholder="공지사항 제목을 입력하세요" aria-describedby="basic-addon1" style="width: 1200px">
		</div>
		
		<br/>
		
		<div class="input-group">
		  <span class="input-group-addon" id="boardDetail">내용</span>
		  <input type="text" class="form-control" name="boardDetail" placeholder="공지사항 글 내용을 입력하세요" aria-describedby="basic-addon1" style="width: 1200px; height:360px"/>
		</div>
		
		<br/>
		
		<div class="input-group">
		  <span class="input-group-addon" id="couponURL">쿠폰 번호</span>
		  <input type="text" class="form-control"  name="couponURL" placeholder="쿠폰번호를 입력하세요" aria-describedby="basic-addon1" style="width: 1200px; height:360px"/>
		</div>
		
		<br/>
		
		<!-- 도전.. -->
					<div id="fileDiv">
						<p>
							<input type="file" id="file_0" name="uploadFiles" style="display:none" onchange="change()">				
						</p>
					</div>


					<div class="main-wrapper">
	  					<div class="img-upload-plugin">
		                    <div class="img-upload-handler">
			                    <div class="img-preview-big">
			                    <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-default-placeholder.png">
				                    <div class="img-delete">
				                    	<img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-delete-icon.png">
				                    </div>
			                    </div>
		                    </div>
		                    <div class="img-preview-operate">
			                    <div class="img-holder" style="display: inline-block; padding: 2px;">
			                    	<!-- 이미지 추가 되는 부분 -->
			                    </div>
			                    <button type="button" class="img-add-more">
			                    <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-add-more-btn.png">
			                    </button>
		                    </div>
		                    <input type="file" name="file"  style="display:none" multiple="multiple">
	                  	</div>
					</div>
					    <!-- 도전.. -->
		  
		
		<button type="button" class="btn btn-default" id="add">등록</button>
		<button type="button" class="btn btn-default" id="cancel">
			<a th:href="@{/board/listAnnounce}" >취소</a>
		</button>
		</form>
		</div>
</div>
<!--  화면구성 div End /////////////////////////////////////-->

</body>

<script src="/js/jquery_min.js"></script>
<script src="/js/addAnnounce.js"></script>
<script>
		   $(document).ready(function() {
				
			    // Preloader 
			    jQuery(window).on('load', function() {
			        jQuery("#status").fadeOut();
			        jQuery("#preloader").delay(350).fadeOut("slow");
			    });
		 })
   
   			//공지사항 등록
   			$("#add").click(function(){
				var boardTitle=$("input[name='boardTitle']").val();
				var boardDetail=$("input[name='boardDetail']").val();

				if(boardTitle!=null && boardDetail!=null){
					alert("공지사항 등록 완료");
					$("form").attr("method" , "POST").attr("action" , "/board/addAnnounce").submit();	
				}else{
					alert("공지사항 제목과 내용을 반드시 적어주세요");
				}
			});

</script>	
</html>