<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
		<!-- 참조 : http://getbootstrap.com/css/   참조 -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		      
        
		<script>
			document.getElementsByTagName("html")[0].className += " js";
		</script>
		
		<link rel="stylesheet" href="/css/faq.css">
		<title>FAQ Template | CodyHouse</title>
	</head>
<body>
<div th:replace="main/toolbar.html"></div>  

<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1></h1>
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	


	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<!-- 반복문 도는 구간 -->
			<li th:each="board :${list}" class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span th:text="${board.boardTitle}"></span></a>
				<div class="cd-faq__content">
          		<div class="text-component">
            		<p th:text="${board.boardDetail}"></p>
          		</div>
				</div> <!-- cd-faq__content -->
			</li>
			<!-- 반복문 도는 구간 -->
		</ul> <!-- cd-faq__group -->

	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->

</body>
<script src="/js/faqutil.js"></script>
<script src="/js/faqmain.js"></script>

</html>