<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="/css/getAnnounce.css">
	
	
	<!-- Bootstrap Dropdown Hover CSS -->
<!--    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet"> -->
    <!-- Bootstrap Dropdown Hover JS -->
  <!--  <script src="/javascript/bootstrap-dropdownhover.min.js"></script> -->
   
   
     
  
  <!-- jQuery UI toolTip 사용 JS-->
<!--   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
	<script>
		$(function() {
			$(".dropdown-menu").children().on("click" , function() {
				var select=$(this).children(":first").text();
				var attribute=$(this).children(":first").attr("id");
				$(this).parent().parent().children(".dropdown-toggle").text(select);
				$(this).parent().parent().children(":first").val(attribute);
			});
		});
			
		
		function fncGetAnnounceList(currentPage) {
			$("#currentPage").val(currentPage)
			$("form").attr("method" , "POST").attr("action" , "/board/listAnnounce").submit();
		}
		
		//검색 클릭
		 $(function() {
			$( '#search' ).on("click" , function() {
				if($('#searchCondition').val()!=''){
					fncGetAnnounceList(1);
				}else{
					alert("검색하기 위해선 검색기준이 필요합니다!");
				}
			});
		});
		
		//고정 클릭 
		 $(function() {
			$( '#pin' ).on("click" , function() {
				$("form").attr("method" , "POST").attr("action" , "/board/updateFixAnnounce").submit();
			});
		});
		
		//삭제 클릭 
		 $(function() {
			$( '#delete' ).on("click" , function() {
				$("form").attr("method" , "POST").attr("action" , "/board/deleteAnnounce").submit();
			});
		});
		 
		 //전체 선택
		 $(function() {
				$( "#totalSelector" ).on("click" , function() {
					if($(this).is(':checked'))
						$( "input[type=checkbox]" ).prop('checked',true);
					else{
						$( "input[type=checkbox]" ).prop('checked',false);
					}
				});
			});
		
	</script>

</head>
<style>
.temp{
	display:flex;
}

.temp>div{
	padding-left:7px;
}
</style>
<body>

<!-- 로딩시 뜨는 아이콘 -->
	<div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>


<!-- 툴바 include -->
<div th:replace="main/toolbar.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
	<div class="page-header text-info">
		       <h3>공지사항</h3>
		</div>
		
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
		    <div class="col-md-5 text-left">
		    	<p class="text-primary">
		    	<!--전체  ${resultPage.totalCount } 건수, 현재 ${resultPage.currentPage}  페이지   -->	
		    	
		    	</p>
		    	전체 <span th:text="${resultPage.totalCount}"/>건수, 현재  <span th:text="${resultPage.currentPage}"/>페이지
		    	 
		    </div>
		    <form class="form-inline" name="detailForm" method="post">
		    
		    <div class="row">
			  <div class="col-lg-7">
			    <div class="input-group">
			      <div class="input-group-btn">
			      <input type="hidden" id="orderCondition" name="orderCondition" value="DESC"/>
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
			        aria-haspopup="true" aria-expanded="false">정렬기준 <span class="caret"></span></button>
			         
			        <ul class="dropdown-menu">
			          <li><a href="#" id="DESC">최신순</a></li>
			          <li><a href="#" id="ASC">오래된순</a></li>
			        </ul>
			      </div>
			      <div class="input-group-btn">
			      <input type="hidden" id="searchCondition" name="searchCondition" value=""/>
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
			        aria-haspopup="true" aria-expanded="false">검색기준 <span class="caret"></span></button>
			        <ul class="dropdown-menu">
			          <li><a href="#" id="title">제목 </a></li>
			          <li><a href="#" id="context">내용</a></li>
			        </ul>
			      </div><!-- /btn-group -->
			      <input type="text" class="form-control" id="searchKeyword" name="searchKeyword"  placeholder="검색어를 입력하세요"
				    			 th:value="${search.searchKeyword!=null} ? ${search.searchKeyword} : ''"  >
				    			 
			       <span class="input-group-btn">
			         <button class="btn btn-default" type="button" id="search">검색</button>
			       </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
	    	
	    	<input type="hidden" id="currentPage" name="currentPage" value=""/>
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 
	 
		 <!--  table Start /////////////////////////////////////-->
		 
      <table class="table table-hover table-striped">
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">No</th>
	            <th align="center" >제목</th>   
	            <th align="center">게시날짜</th>
	            <th:block sec:authorize="hasAuthority('admin')">
	            <th align="left">
	            	<input type="checkbox" name="totalSelector" id="totalSelector"></input>
	            </th>	
	           </th:block>
	          </tr>
	        </thead>
	        
	        <tbody> 
	    
	    
	            		
	    
	    <!-- list명Stat.count, current, size, even, odd, first, last -->
	    <tr th:each="board :${list}">

		    <td th:text = "${boardStat.count}" align="center"></td>
			<td align="center">
				<a th:href="@{/board/getAnnounce(boardNo=${board.boardNo})}" >
					<div th:text="${board.boardTitle}"/>
				</a>
			</td>
			<td th:text = "${#dates.format(board.boardDate, 'yyyy-MM-dd')}" align="center"></td>
			 <th:block sec:authorize="hasAuthority('admin')">
				<td align="center">
					<input type="checkbox" name="eachSelector" id="eachSelector" th:value="${board.boardNo}"/>
				</td>
			</th:block>
			<td align="center">
				<input type="hidden" name="boardPin" id="boardPin" th:value="${board.boardPin}"/>
			</td>
	    </tr>
	        </tbody>
	     
	      <th:block sec:authorize="hasAuthority('admin')">
		    <button type="submit" class="btn btn-default" id="pin">상단 고정 적용/미적용</button>
			<button type="submit" class="btn btn-default" id="delete">삭제</button>
			<br/>
		</th:block>
		
      </table>
		<!--  table End /////////////////////////////////////-->
		
		<!-- navi start -->
		<div >
		<nav aria-label="Page navigation" align="center" style="width:100%"
		th:with="
			currentPage=${resultPage.currentPage},
			pageUnit=${resultPage.pageUnit},
			beginUnitPage=${resultPage.beginUnitPage},
			endUnitPage=${resultPage.endUnitPage},
			maxPage=${resultPage.maxPage}
		">
		  <ul class="pagination" >
		    <!-- 좌측 navi -->
		    <span th:if="${currentPage}<=${pageUnit}">
				<li class="hidden">
			</span>
			<span th:if="${currentPage}>${pageUnit}">
				<li>
			</span>
		      <a aria-label="Previous" th:onclick="|javascript:fncGetAnnounceList('${currentPage-1}')|">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
 <span class="temp">
  				<!-- 중앙 -->
	   		  <div th:each="num : ${#numbers.sequence(beginUnitPage,endUnitPage)}" >
				<li class="active"><a th:href="@{#}" th:onclick="|javascript:fncGetAnnounceList('${num}')|">[[${num}]]</a></li>
			  </div>
</span>
		    <!-- 우측 navi -->
		    <span th:if="${endUnitPage}>=${maxPage}">
				<li class="hidden">
			</span>
			<span th:unless="${endUnitPage}>=${maxPage}">
				<li>
			</span>
		      <a th:onclick="|javascript:fncGetAnnounceList('${endUnitPage+1}')|" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
		
		
		 <th:block sec:authorize="hasAuthority('admin')">
			<button type="text" class="btn btn-default" id="addAnnounce">
				<a th:href="@{/board/addAnnounce}" >
					공지사항 등록
				</a>
			</button>
		</th:block>
	</form>
</div>
<!--  화면구성 div End /////////////////////////////////////-->

</body>

<script src="/js/jquery_min.js"></script>
	<script>
	  $(document).ready(function() {
			"use strict";
			

		    // Preloader 
		    jQuery(window).on('load', function() {
		        jQuery("#status").fadeOut();
		        jQuery("#preloader").delay(350).fadeOut("slow");
		        
		        //고정된 것은 따로 앞으로, 색깔강조
		        $("#boardPin[value='1']").parent().parent().css({"color":"red", "font-weight":"bold"});
		       
		    });

	  })
	</script>


	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>