<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	
	<!--  ///////////////////////// bootstrap  ////////////////////////// -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	
</head>
  
  <!--  ///////////////////////// 	CSS	 ////////////////////////// -->
  <style>
 
 .tabs {
  font-family: 'Noto Sans KR', sans-serif;
  font-size : 1.4em;
  clear: both;
  height: 30px;
  list-style: outside none none;
  padding: -1px;
 
  
}
.tabs li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 0px;
  background-color: #fff;
  border: solid 1px #999;
   border-radius : 7%;
}
.tabs li.active {
  position: relative;
  background-color: #333333;

/*   z-index: ; */
}
.tabs li a {
  padding: 10px;
  color: #000;
  text-decoration: none;
}
.tabs .active a {
  color: #fff !important ;
}
.tab {
  background-color: #fff;
  margin-bottom: 20px;
  width: auto;
}
.tab-content {
  padding: 0px;
  display: none;
}
#tab-1 {
  display: block;
}
 
 .old-list{
margin-bottom: 210px !important;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;  
}

.old-list .old{  
    border-radius: 10px;
  
  margin: 7px; /* Space between olds related with nth-childs below */
  
  position: relative;
  border: 2px solid #eee;
  background: white;
  

  min-height: 465px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* 4 item list */
.old-list .old:nth-child(4n+1){
  margin-left: 0;
}
.old-list .old:nth-child(4n+4){
  margin-right: 0;
}

.old-list .old:hover{
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.old-list .old .old-image{
  position: relative;
}
 
.star-rating,.star-rating span { 
	display:inline-block; 
	height:100%; 
	overflow:hidden; 
	background:url(/images/header/starMiniNull.png)no-repeat;
} 

#smStar{
	font-size:0; 
	line-height:0; 
	vertical-align:top; 
	/* width: 100%;  이 값이 평점과 연관되어있음*/
}
 
.right{
	font-size: 25px;
	line-height: 250%;
}
.profileTitle{
	font-size: 25px;
	font-weight: bold;
	margin: 0 0 50px 10px;
}
.aboutUser{
	height: 400px;
}
  </style>
  
<body>

<!-- 툴바 include -->
<div th:replace="main/toolbar.html"></div>
<div th:replace="main/leftbar.html"></div>

<div class="container list">
	 <div class="profileTitle">
		<span>[[${user.nickname}]]님의 프로필</span>
	</div>
	<div class="aboutUser" style="display: flex;" >
		<div class="col-md-6 left" style="text-align: center;" >
			<span>
				<img th:src= "@{/images/uploadFiles/}+${user.userImg}"
				 onerror="this.src='/images/uploadFiles/noUserImg.jpg'" 
				 width="300" height="300" style="border-radius: 70%;" >
			 </span>
			<div style="text-align: center; display: flex; align-items: center; justify-content: center;">
           		<div>
	           		<span class="star-rating">
	            		<span id="smStar"><img src="/images/header/starMini.png"></span>
	            	</span>
            	</div>
            	<div>
					<span id="userRate" style="font-size: 30px;">[[${user.userRate}]]</span>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 right" style="text-align: left;">
			<div>
				<span style="font-weight: bold;" >가입일자</span>
			</div>
			<div>
				<span style="margin-left: 10px;" th:text="${#strings.substring(user.joinDate,0,10)}">
				</span>
			</div>
			<div>
				<span style="font-weight: bold;">활동지역</span>
			</div>
			<div>
				<span class="parsingAddr" style="margin-left: 10px;" th:text="${user.userAddr}">
				</span>
			</div>
			<div>
				<span style="font-weight: bold;">중고거래 횟수</span>
			</div>
			<div>
				<span style="margin-left: 10px;">[[${user.reviewedCount}]] 회</span>
			</div>
		</div>
	</div>
	<!-- userContainer END  -->
	
	<!-- reviewContainer  -->	
	<div class="oldReviewList" style="margin: 10px 0px 40px 280px; display: flex;">
		<ul class="reviewContainer">
			<p class="reviewMainText">
				<span>
					<span style="font-size: 30px;">거래후기</span><br/>
				</span>
				<span style="font-size: 20px;" class="reviewSideText">최근 상품을 구매하신 분들이 작성하신 리뷰입니다.</span>
			</p>
			<!-- 리뷰하나 -->
		</ul>
	</div>

	<div class="oldReviewList" >
		<div th:each = "oldReview : ${oldReviewList}" style="display: flex; 
					margin: 15px 0px 15px 250px;">
			<div style="display: block; width: 150px;">
				<a th:href="@{/user/getUser(userId=${oldReview.reviewUser.userId})}">
					<img th:src= "@{/images/uploadFiles/}+${oldReview.reviewUser.userImg}"
						 onerror="this.src='/images/uploadFiles/noUserImg.jpg'" 
						 width="130" height="130" style="border-radius: 70%;" >				
				</a>
				<div style="border-bottom: 2px solid #797070; margin: 20px 0px 0px 0px; width: 770px;"></div>
			</div>
			<div style="width: 100%;" >
				<div style="display: flex;">
					<div >
		           		<strong th:text="${oldReview.reviewUser.nickname}" ></strong>
					</div>
					<div>
		                <span  th:text="${oldReview.reviewDate}" style="margin-left: 400px; "></span>
					</div>
				</div>
				<div style="display: flex; align-items: center;">
					<span class="star-rating">
	            		<span id="reviewStar"><img src="/images/header/starMini.png" height="60px;"></span>
	            	</span>
		    	 	<span  id="reviewRate" style="padding:0 10px;" th:text="${oldReview.userRate}"></span>
				</div>
				<div>
				<a  th:href="@{/old/getOld(oldNo=${oldReview.old.oldNo})}">
		    	 	<span style="padding:0 10px;" th:text="${oldReview.old.oldTitle}"></span>
				</a>
				</div>
				<div>
		        	<span class="reviewContent"  th:text="${oldReview.reviewDetail}"></span>
				</div>
			</div>
		</div>
	</div><!-- end of reviewLIst  -->

<!-- 중고거래 리스트 -->
<div id="tabs-container" style="margin-left: 195px; width: 1000px;">
	<div style="margin: 80px 0px 30px 30px;">
		<span>
			<span style="font-size: 30px;">거래후기</span><br/>
		</span>
		<span style="font-size: 20px;" class="reviewSideText">최근 상품을 구매하신 분들이 작성하신 리뷰입니다.</span>	
	</div>
  <ul class="tabs" style="margin: 30px 0 0px 30px;">
    <li class="active" style="width: 105px; display: flex; align-items: center; justify-content: center;"><a href="#tab-1">판매중</a></li>
    <li><a href="#tab-2" style="width: 105px; ">거래완료</a></li>
  </ul> 
  <div class="tab">
    <div id="tab-1" class="tab-content">
    	<div class="old-list">
			<div class="old" th:each = "old : ${oldList}" style="margin-right:20px;" th:if="${old.oldState} == 1">
    			<div class="owl-item active" style="width: 270px;" >
        			<div class="item">
						<div class="try_rc_mob_box_wrapper">
							<div class="try_rc_mob_img">
								<img  width="300" height="205"  th:src="@{/images/uploadFiles/} + ${old.oldImg}" >
							</div>
							<div class="try_rc_mob_img_cont">
								<h2>[[${old.oldTitle}]]</h2>
							</div>
							<div class="try_rc_mob_img_cont_bottom">
								<p><span class="new-price" th:text ="|${old.oldPrice}원|"></span></p>	
							<div class="try_mob_btn_wrapper">
								<a th:href="@{/old/getOld(oldNo= ${old.oldNo})}">자세히 보기</a>
							</div>
							</div>
						</div>
					</div>
				</div>
      		</div>
 		</div>
    </div>
    
    <div id="tab-2" class="tab-content">
    	<div class="old-list">
	        <div class="old" th:each = "old : ${oldList}" style="margin-right:20px;" th:if="${old.oldState} == 0">
          		<div class="owl-item active" style="width: 270px;" >
        			<div class="item">
						<div class="try_rc_mob_box_wrapper">
							<div class="try_rc_mob_img">
								<img  width="300" height="205"  th:src="@{/images/uploadFiles/} + ${old.oldImg}" >
								<input type="hidden" id="oldNo" name="oldNo" th:value="${old.oldNo}"/>
								<span th:unless="${old.oldLikeNo}==0"><a class="heart filled" href="#"><i class="fa fa-heart filled" aria-hidden="true"></i></a></span>
								<span th:if="${old.oldLikeNo}==0"><a class="heart" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></span>
							</div>
							<div class="try_rc_mob_img_cont">
								<h2>[[${old.oldTitle}]]</h2>
							</div>
							<div class="try_rc_mob_img_cont_bottom">
								<p><span class="new-price" th:text ="|${old.oldPrice}원|"></span></p>	
								<div class="try_mob_btn_wrapper">
									<a th:href="@{/old/getOld(oldNo= ${old.oldNo})}">자세히 보기</a>
								</div>
							</div>
						</div>
					</div>
				</div>
        	</div>
		</div>
	</div>
  </div>
</div>
<!-- 중고거래 리스트 끝 -->



<!-- ////////////////////////////////////////////////////////////////// -->

<div th:replace="main/footer.html"></div>
</body>

	<!--  ///////////////////////// jQuery CDN ////////////////////////// -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!--  ///////////////////////// java Script ////////////////////////// -->
	<script type="text/javascript">

	
	///////////////////평점 소수점/////////////////
	var reviewRate = $("reviewRate").text();
	reviewRate = reviewRate.substr(0,3);
	$('#reviewRate').text(reviewRate);
	if(reviewRate==0.0){
		$('#reviewRate').text("4.0");	
		$("#reviewStar").width(($('#reviewRate').text()*20)+"%");
	}
	$("#reviewStar").width((userRate*20)+"%");
	
	var userRate = $('#userRate').text();
	userRate = userRate.substr(0,3);
	$('#userRate').text(userRate);
	if(userRate==0.0){
		userRate = $('#userRate').text("4.0");
		$('#smStar').width(($('#userRate').text()*20)+"%");
	}
	$('#smStar').width(($('#userRate').text()*20)+"%");

	///////////////////주소////////////////////
	 var divyAddress = $(".parsingAddr").text();
	 var divyAddressAddr = divyAddress.split("/");
	 var divyAddress4 = divyAddressAddr[3].substr(2,3);
	 $(".parsingAddr").text(divyAddress4)

	</script>
	<script src="/js/listOld.js"></script>
	
</html>