
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	
	
	
</head>
<style>

.table{
	margin-bottom: 80px !important;
}
.page-header{
margin: 40px 0 0px !important;
border-bottom:3px solid #ddd !important;
}

	.tableBody td {
		width:10%;
 		vertical-align: middle !important;
	}
	
	.tableBody td > div {
		display:flex;
	}
	
	.productImg{
		text-align:left;
		width:100px;
	}
	
	.recentImg {
		
		text-align:right;
		width:50px;
	}
	
	.tableBody td span{
		display:flex;
		align-items:center;
		padding:10px;
	}
	
	.borderTopNone{
		border-top:none !important;
	}
	.borderRight{
		border-right:1px solid #ddd;
	}
	.textCenter{
		text-align:center;
	}
	.borderBottom{
		border-bottom:1px solid #ddd;
	}
	
	.btnColumn{
		display: flex;
    flex-direction: column;
	}
	
.container.list {
       padding-top: 255px !important;
    }
    
    
   button{
	padding:5px;
	border:none;	
	border-radius:10px;
	color:#262626;
}
   button:hover{
   background:#262626;
   color:#fff;
   }
   
   .btnColumn button{
   margin:4px 0;
   }
  
  
   /*페이지 관련 */
   .temp{
	display:flex;
	margin-left: -150px;
}

.temp>div{
	padding-left:1px;
}
   


</style>
<body>
<!-- 툴바 include -->

   <!-- Navigation-->
  <div th:replace="main/toolbar.html"></div>
<div th:replace="main/leftbarMyPage.html"></div>
<div th:replace="user/topMyPage.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
	<form class='form-storage'>
	<div class="page-header text-info">
		       <h3>보관내역조회</h3>
			<div class="storageOrder">
			<input type="checkbox"  class="prodConditionBox" name="searchProductCondition" value="보관중" th:checked="${search.searchProductCondition}=='보관중' ">
			보관중인물품만 보기
			</div>
		</div>
		<!-- 페이징처리 -->
		 </form>  
		 
		 <form class="page-form" name="detailForm" action="/storage/listStorage" method="post">
		<input type="hidden" id="currentPage" name="currentPage" value=""/>
		</form>
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	<!--전체  ${resultPage.totalCount } 건수, 현재 ${resultPage.currentPage}  페이지   -->	
		    	
		    	
		    	
		    	</p>
		    	
		    	 
		    </div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		


		 <!--  table Start /////////////////////////////////////-->
		 
 		 <table class="table table-hover table-striped">
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">상품정보</th>
	            <th align="center" >결제금액</th>   
	            <th align="center" >보관현황</th>   
	            <th align="center">진행상태</th>
	            
	          </tr>
	        </thead>
	        
	        
	        <tbody> 
			    <tr class="tableBody" th:each ="storage : ${list}">
				    <td align="left">
				    <a th:href ="@{/storage/getStorage(tranNo = ${storage.tranNo})}" >
				 	<span  class="payNo"  th:text="|주문번호: ${storage.paymentNo}|" ></span>
				 	</a>
				    	<div class="productInfo">
				    		<a th:href ="@{/product/getProduct(prodNo = ${storage.prodNo})}" >
					    	<img class="productImg" th:src="@{/images/uploadFiles/} + ${storage.prodImg}">
					    	</a>
					    	
					    	<div style="width:220px;padding:10px;">
					    	 <a th:href ="@{/product/getProduct(prodNo = ${storage.prodNo})}" >
						    		<p  style="margin-bottom: 10px; font-weight: bold">[[${storage.prodName}]]<br/></p>
						    </a>
						    	<p>	[[${storage.startDate}]] ~ [[${storage.endDate}]]<br/></p>
						    		<p>	[[${storage.storageProd.prodQuantity}]]개</p>
					    	</div>
						</div>
				    </td>
					<td align="center" th:text="|${storage.resultPrice}원|" ></td>
					<td align="center"><img class="recentImg" th:src="@{/images/uploadFiles/} + ${storage.storageProd.recentImg}" onerror="this.style.display='none' " >
				

					</td>
					<td align="center" >
					
					
					<p  style="margin-bottom: 10px;"  th:if="${storage.storageProd.prodCondition }== '물품대여승인신청중' or ${storage.storageProd.prodCondition }== '배송중' or ${storage.storageProd.prodCondition }== '대여중'">
					대여중 ([[${storage.rentalStartDate}]] ~ [[${storage.rentalEndDate}]] )
					
					</p>
					<p  style="margin-bottom: 10px;" th:unless="${storage.storageProd.prodCondition }== '물품대여승인신청중' or ${storage.storageProd.prodCondition }== '배송중' or ${storage.storageProd.prodCondition }== '대여중'">
					[[${storage.storageProd.prodCondition}]]
					</p>
					 
					 
					<!--   <p style="color: red;" th:if = "${storage.storageProd.isRental} ">(대여가능)</p>-->
					 <p  style="color: black;" th:if = "${storage.storageProd.isRental} and  ${storage.storageProd.prodCondition }== '보관중' "><i class="fa-solid fa-box-archive fa-2x"></i></p>
					 <p  style="color: black;" th:if="${storage.storageProd.prodCondition }== '물품대여승인신청중' or ${storage.storageProd.prodCondition }== '배송중' or ${storage.storageProd.prodCondition }== '대여중'"></p>
				
				
					</td>
					<td align="center" >
					
					<!--  <div class="btnColumn" th:if="${#strings.equals(storage.storageProd.prodCondition, '보관중')}" >-->
					<div class="btnColumn" th:if="${storage.storageProd.prodCondition }== '보관중'" >
					 	<div><button type="button" th:onclick = "|location.href='@{/product/getProduct(prodNo= ${storage.prodNo})}'|">꺼내쓰기</button></div>
					 	<div><button  type="button" class="extend-btn" th:value="${storage.tranNo}">기간연장</button></div>
					 	<div><button type="button" class="cancelStorage-btn" th:value="${storage.prodNo}">출고신청</button></div>

					</div>
					
						<div class="btnColumn" th:if="${storage.storageProd.prodCondition }== '물품보관승인신청중' ">
					 	<div><button class="cancel-btn" type="button" th:value="${storage.paymentNo}" th:data-prodNo="${storage.prodNo}">취소</button></div>
					</div>
					
					<div class="btnColumn" th:if="${storage.storageProd.prodCondition }== '출고승인신청중' ">
					 	<div><button class="cancelPutout" type="button" th:value="${storage.prodNo}">출고취소</button></div>
					</div>
					
					<!-- 대여신청, 배송, 대여중일때 엔드유저에겐 대여중으로 디스플레이 -->
					<div class="btnColumn" th:if="${storage.storageProd.prodCondition }== '물품대여승인신청중' or ${storage.storageProd.prodCondition }== '배송중' or ${storage.storageProd.prodCondition }== '대여중'">
					 	<div><button  type="button" class="extend-btn" th:value="${storage.tranNo}">기간연장</button></div>
					</div>
					
					
		
					
					</td>
			    </tr>
	        </tbody>
	        
	        

      </table>
	        
	  
		<!--  table End /////////////////////////////////////-->
		
		<!-- navi start -->
		<div >
		
		<nav class="page-bar" aria-label="Page navigation" align="center" style="width:100%"
		th:with="
			currentPage=${resultPage.currentPage},
			pageUnit=${resultPage.pageUnit},
			beginUnitPage=${resultPage.beginUnitPage},
			endUnitPage=${resultPage.endUnitPage},
			maxPage=${resultPage.maxPage}
		">
		  <ul class="pagination" >
		    <!-- 좌측 navi -->
		    <span th:if="${currentPage}<=${pageUnit}">
				<li class="hidden">
			</span>
			<span th:if="${currentPage}>${pageUnit}">
				<li>
			</span>
		      <a aria-label="Previous" th:onclick="|javascript:fncGetStorageList('${currentPage-1}')|">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
 <span class="temp">
  				<!-- 중앙 -->
	   		  <div th:each="num : ${#numbers.sequence(beginUnitPage,endUnitPage)}" >
				<li class="active"><a th:href="@{#}" th:onclick="|javascript:fncGetStorageList('${num}')|">[[${num}]]</a></li>
			  </div>
</span>
		    <!-- 우측 navi -->
		    <span th:if="${endUnitPage}>=${maxPage}">
				<li class="hidden">
			</span>
			<span th:unless="${endUnitPage}>=${maxPage}">
				<li>
			</span>
		      <a th:onclick="|javascript:fncGetStorageList('${endUnitPage+1}')|" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
		<!-- navi end -->

</div>
<!--  화면구성 div End /////////////////////////////////////-->


 <div th:replace="main/footer.html"></div>
</body>

<script>

//페이지처리
function fncGetStorageList(currentPage) {
 console.log("goosebeom");
	/* $("#currentPage").val(currentPage)
    $('form').attr('method', 'POST').attr('action', '/storage/listStorage').submit(); */
	
	document.getElementById("currentPage").value = currentPage;
   	document.detailForm.submit();	
    	
}

	$(function(){
		
		
		//체크시 현재보관중인 물품만 보여주기
		$(".prodConditionBox").on("change", function(){
			
			 $('.form-storage').attr('method', 'POST').attr('action', '/storage/listStorage').submit();
			
		})
		
		//결제취소 
		$(".cancel-btn").on("click", function(){
			
			var paymentNo = $(this).parent().find('.cancel-btn').val();
			var prodNo =  $(this).parent().find('.cancel-btn').attr("data-prodNo");
			 
			
			Swal.fire({
				   title: '결제를 취소하시겠습니까?',
				   icon: 'warning',
				   
				   showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
				   confirmButtonColor: '#262626', // confrim 버튼 색깔 지정
				   cancelButtonColor: '#262626', // cancel 버튼 색깔 지정
				   confirmButtonText: '예', // confirm 버튼 텍스트 지정
				   cancelButtonText: '아니오', // cancel 버튼 텍스트 지정
				 
				   
				}).then(result => {
				   // 만약 Promise리턴을 받으면,
				   if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
				   		
					   $.ajax({
						      "url": "/payment/json/cancelIamport?imp_uid="+paymentNo, 
						      "type": "POST",
						      "contentType": "application/json",
						   
						    }).done(function(data) {
					    
					        	self.location = "/product/cancelProduct?prodNo="+prodNo;
					        });
							 
				      Swal.fire('결제가 취소되었습니다.', 'success');
				   }
				});
		
			
		})
		
		//기간연장 팝업창 띄우기
		$(".extend-btn").on("click", function(){
			
			var tranNo =  $(this).parent().find('.extend-btn').val();
			
			 var url = "/storage/extendStorage?tranNo="+tranNo;
		     var name = "popup test";
		     var option = "width = 850, height = 600, left = 400, location = yes"
		     window.open(url, name, option);
			
			
		})
		
		//출고신청후 물품상태 변경
			$(".cancelStorage-btn").on("click", function(){
			
				var prodNum =  $(this).parent().find('.cancelStorage-btn').val();
				
				Swal.fire({
					   title: '보관을 종료하시겠습니까?',
					   text: '남은 기간에 대한 금액은 돌려받을 수 없습니다.',
					   icon: 'warning',
					   
					   showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
					   confirmButtonColor: '#262626', // confrim 버튼 색깔 지정
					   cancelButtonColor: '#262626', // cancel 버튼 색깔 지정
					   confirmButtonText: '예', // confirm 버튼 텍스트 지정
					   cancelButtonText: '아니오', // cancel 버튼 텍스트 지정
					 
					   
					}).then(result => {
					   // 만약 Promise리턴을 받으면,
					   if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
					   		
						  self.location = "/product/cancelProduct?prodNo="+prodNum;
			
					   }
					   
					});	
	
		})
		
		
		//출고신청 취소
		$(".cancelPutout").on("click", function(){
			
		
			var prodNum =  $(this).parent().find('.cancelPutout').val();
			
			
			self.location = "/product/cancelProduct?prodNo="+prodNum;
			
			
		})
		
		//스위트얼럿 보관이미지 확대
		$(".recentImg").on("click", function(){
			
			var recentImg = $(this).parent().find('.recentImg').attr("src");
			
			Swal.fire({
  				imageUrl: "http://localhost:8080"+recentImg,
 				imageWidth: 400,
 				imageHeight: 400,
 				imageAlt: 'Custom image',
 				
 				confirmButtonColor: '#262626',
 				confirmButtonText: '확인'
})

			
		})
	
		
	});
	

	

	</script>

</html>