<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
</head>

<style>
.table{
	max-width: 100%;
}
.container.list {
    padding-top: 95px !important;
    width: calc(100% - 210px);
    float:none !important;
    max-width: 1200px;
}
.leftDiv{
    display: flex;
    padding-top: 180px;
}
.tdCenter{
	text-align:center;
}

	.row{
		display:flex;
	}
	
	.pagination{
		display: flex !important;
   		 justify-content: center;
	}
.searchRight{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width:80%;
}

.productInfo{
	display:flex;
	align-items:center;
}

.productImg{
    width: 50px;
    height: 50px;
}

.try_footer_main_section_wrapper{
    position: absolute !important;
    left: 0;
}
.orderBtn{
	display:flex;
	justify-content:center;
}

.cb1{
	text-align: center;
    vertical-align: middle !important;
    width: 90px;
}

td{
	vertical-align:middle !important;
}

.orderBtn button{
	border: none;
    border-radius: 10px;
}

.orderBtn button:hover{
	
}
.try_footer_main_section_wrapper{
	bottom:0px;
}

</style>

<body>


<!-- 툴바 include -->
<div th:replace="main/toolbar.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">

	<div class="page-header text-info">
		       <h3>장바구니</h3>
		</div>
		
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	
		    	</p>
		    	 
		    </div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 <form class="form-inline" name="detailForm">
	 <input type="hidden" id="currentPage" name="currentPage" value=""/>
	<input type="hidden" id="wishTotalPrice" name="wishTotalPrice"/>
	<input type="hidden" class="wishlistNo"  name="wishlistNo"/>
	<input type="hidden" class="periodArray"  name="period"/>
	<input type="hidden" class="prodNo" name="prodNo"/>
	<input type="hidden" class="rentalPriceArray" name="rentalPrice"/>
  
	 			
		 <!--  table Start /////////////////////////////////////-->
       <table class="table table-hover table-striped">
	       <thead>
	          <tr class="tableHeader">
		            <th><input type="checkbox"  class="allCheckBtn"></th>
		           <th align="center">상품정보</th>
		                <th align="center">선택옵션</th>
		             <th></th>
		            <th align="center"></th>
	                <th></th>
	                <th>결제금액</th>
	                <th></th>
	          </tr>
	        </thead>
	        
	        <tbody> 
	    
	   
	    <tr th:each="wishlist,index :${list}">	    
	    <span th:text="${index}" class="wishIndex" style="display:none;"></span>
	  
	    <input type="hidden" class="toggle" name="toggle"  th:value="${wishlist.toggle}"/>

	   			<td class="cb1">
	    	  		<input type="checkbox"  class="inputBox" th:value="${wishlist.wishlistNo}">	    	  		
	    	  </td>
	    	  
		     <td align="left">
		    	<div class="productInfo">
		    			  <a th:href ="@{/product/getProduct(prodNo = ${wishlist.product.prodNo})}" >
			    	<img  class="productImg"  th:src="@{/images/uploadFiles/} + ${wishlist.product.prodImg}" >
			    	</a>
			    	
			    	<div style="width:220px;padding:10px;">
			      <a th:href ="@{/product/getProduct(prodNo = ${wishlist.product.prodNo})}" >
				    		<p style="margin-bottom: 10px; font-weight: bold">[[${wishlist.product.prodName}]]<br></p>
				    </a>
				    <div style="display:flex;">
				    		<p class="dateText">
				    		</p>
				    		&nbsp ~ &nbsp
				    		<p class="dateText">
				    		</p>
				    		</div>
			    	</div>
				</div>
		    </td>
			 <td style="display:none" class="tdCenter wishPrice" th:text = "|${wishlist.product.rentalPrice}/|"></td>
			  <td class="tdCenter" >
					<select class="selectBox" name="selection"  th:data-eq="${index.count}">
						   <span th:if="${wishlist.period}==0">
                        		<option value="2" class="period">1박2일</option>
                        		<option value="3" class="period">2박3일</option>
                        		<option value="4" class="period">3박4일</option>
                        		<option value="5" class="period">4박5일</option>	
                          </span>
						  <span th:if="${wishlist.period}=='2'">
                        		<option value="2" class="period" selected>1박2일</option>
                        		<option value="3" class="period">2박3일</option>
                        		<option value="4" class="period">3박4일</option>
                        		<option value="5" class="period">4박5일</option>	
                          </span>
                           <span th:if="${wishlist.period}=='3'">
                     		    <option value="2" class="period">1박2일</option>
                        		<option value="3" class="period" selected>2박3일</option>
                        		<option value="4" class="period">3박4일</option>
                        		<option value="5" class="period">4박5일</option>	
                          </span>
	                      <span th:if="${wishlist.period}=='4'">
	                    		<option value="2" class="period">1박2일</option>
                        		<option value="3" class="period">2박3일</option>
                        		<option value="4" class="period" selected>3박4일</option>
                        		<option value="5" class="period">4박5일</option>		
	                      </span>
                      	  <span th:if="${wishlist.period}=='5'">
                    			<option value="2" class="period">1박2일</option>
                        		<option value="3" class="period">2박3일</option>
                        		<option value="4" class="period">3박4일</option>
                        		<option value="5" class="period" selected>4박5일</option>	
	                      </span>
                        
                  </select>
		</td>
		    <td></td>
		     <td></td>
		    <td></td>
					 <td class="tdCenter rentalPrice" th:text = "|${wishlist.product.rentalPrice}|"> 
		    <td></td>
		     <td style="cursor:pointer">
		     	<span style="display:none;" class="hiddenProdNo">[[${wishlist.product.prodNo}]]</span>
		     	<button class="deleteBtn" type="button" style="border:none; background:none;">
		     		<i class="fa-solid fa-trash-can"></i>
		     	</button>
		     </td>
	    </tr>
	    
	    <tr>
    	     <td>
		    </td>
		    <td align="center">총 합계</td>
		    <td></td>
		     <td></td>
		        <td></td>
		           <td></td>
		    <td style="text-align:center; color:red;" class="totalPrice">0</td>
		     <td></td>
		     <td></td>
	    </tr>
	
	        </tbody>

      </table>
		<!--  table End /////////////////////////////////////-->
		 <span class="orderBtn" style="margin-bottom:30px;">
			 <button style="padding:10px;" class="addOrderBtn">
				 주문하기
			 </button>
			
		 </span>
	</form>

</div>
<!--  화면구성 div End /////////////////////////////////////-->

<!-- footer -->

 
</body>

<script src="/js/jquery_min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
<script>



	$(function(){		
		//화면 진입시 선택옵션의 value에 따른 결제금액 측정 바로 되도록
		
		var selectBoxLength = $('.selectBox').length;
		
		for(var i=0; i<selectBoxLength; i++){
			var selectBoxValue = $('.selectBox').eq(i).val();
			var rentalPriceEq = parseInt($('.rentalPrice').eq(i).text());
			var rentalPrice = $('.rentalPrice').eq(i).text(selectBoxValue*rentalPriceEq*0.5);
		}
		
		
		
	})



	$(function(){
		
		$('.deleteBtn').click(function(){
			var prodNo = $(this).parent().find(".hiddenProdNo").text();
			console.log(prodNo);
			
			$.ajax({
	            type : "POST",  
	            url : "/wishlist/deleteWishlistOnList",       
	            dataType : "json",   
	            data : prodNo,
	            error : function(){
	               alert("통신 에러");
	            },
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
	            success : function(heartCheck) {
	                
	                    if(heartCheck){
	                    alert("장바구니삭제완료")	;
	                    console.log("찜삭제 완료");
				        $(this).removeClass('filled');
				        location.reload();
	
	                    }
	                    else if (heartCheck){
	                    	alert("이미 삭제한 물품 입니다");                 
	                    	location.reload();
	                	}
	                    
	                    
	            	}
	        	})
		})
		
		$('.rentalPrice').onchange = function(){
			console.log("onchange일어남");
		}
	
		

		let sum=0;
		let arraySum;
		
		
		///////////////////////////////////////////////////////// 올체크 버튼 ////////////////////////////////////////////////////////////
		  $( '.allCheckBtn' ).click( function() {
			
			    $( '.inputBox' ).prop( 'checked', this.checked );
			    
				  
				var  arrayTemp = $('.inputBox:checked').parent().parent().find('.wishPrice').text().split("/");
				
				const arrStr =arrayTemp;
				const nuevo = arrStr.map((i) => Number(i));
				
				//배열 총합구하기
				arraySum = nuevo.reduce(function(a, b){ return a + b; }, 0);
				
		
				$(".totalPrice").text(arraySum);
				sum=arraySum;
			  });
		  
		  //$('.inputBox').parent().parent().find('.wishPrice').text();
		  
		  
		 /////////////////////////////////////////////////////////  개별 인풋 버튼 ///////////////////////////////////////////////////////// 
		  $('.inputBox').click(function(){
			  
			  // 올체크처리 된상태의 케이스
			  if('.allCheckBtn:checked'){
				  $(".allCheckBtn:checked").prop("checked", false);
					  if(this.checked){
						  sum = sum + parseInt($(this).parent().parent().find('.rentalPrice').text());
						  $('.totalPrice').text(sum);
						  //sum+=parseInt($(this).parent().parent().find('.wishPrice').text());  
					  }else{
						sum= parseInt(sum)-parseInt($(this).parent().parent().find('.rentalPrice').text());
						  $('.totalPrice').text(sum);
					  }
			  }
//			  else{
//				  if(this.checked){		  
//					  sum+=parseInt($(this).parent().parent().find('.wishPrice').text());
//				  }else{
//					  sum = sum - parseInt($(this).parent().parent().find('.wishPrice').text());
//				  }
//			  }
			  
			 // console.log("inputBox의sum입니다"+sum)
		  })
	
		$('.inputBox').click(function(){
			console.log($(this).parent().parent().find('.wishlistNo').val())
		
		
		
			var wishlistNo = $('.wishlistNo').val();
			var period = $('.period').val();
			var toggle = $('.toggle').val();
			
			console.log("클릭펑션");
			
			
		})
		
		$(function(){
			//DB에 있는 결제금액 파싱해서 배열담음
			$('.wishPrice').text().split("/");
			//배열이 스트링이라 모두 정수변환
			var  arrayTemp = $('.wishPrice').text().split("/");
			const arrStr =arrayTemp;
			const nuevo = arrStr.map((i) => Number(i));

			///////////////////////////////////////////////////////// 셀렉트 옵션 버튼 ///////////////////////////////////////////////////////// 
			$('.selectBox').click(function(){
				dateChange();
			
			  if(	$(this).parent().parent().find('.inputBox').is(":checked")){
				//		$(".totalPrice").text(parseInt(sum)-parseInt($(this).parent().parent().find('.wishPrice').text()));
				//		sum=parseInt($('.totalPrice').text());
			  }
				
				
				//선택한 셀렉트박스의 인덱스
				var selectBoxIndex =$(this).attr('data-eq')-1
				//셀렉트박스의 인덱스로 결제금액 배열에 접근
				//console.log(nuevo[$(this).attr('data-eq')-1]);
				

				//선택옵션에 따른 계산값
				var optioinOutPut = nuevo[0]*$(this).text()*0.5
				
				//숨겨진 데이터값에도 변화적용
				$(this).parent().parent().find('.wishPrice').text($(this).val()*0.5*nuevo[$(this).attr('data-eq')-1]+"/");
				
				//선택한 셀렉트박스의 value (1박2일/2박3일 ~ 4박5일)
				//위의 value*0.5* resultPrice ==> 셀렉트박스로 선택한 값에 따른 값변화
				//console.log("할인금액"+$(this).val()*0.5*nuevo[$(this).attr('data-eq')-1]);
	
				// eq를 사용하여 .rentalPrice의 eq로 셀렉트박스(인덱스)로 접근하여 text변경
				$('.rentalPrice').eq(selectBoxIndex).text(optioinOutPut);
				$(this).parent().parent().find('.rentalPrice').text($(this).val()*0.5*nuevo[$(this).attr('data-eq')-1]);
		
				
				
				if($(this).parent().parent().find('.inputBox').is(":checked")){
					
					//배열 총합구하기
					
					var  arrayTemp2 = $('.inputBox:checked').parent().parent().find('.wishPrice').text().split("/");
					const arrStr2 =arrayTemp2;
					const nuevo2 = arrStr2.map((i) => Number(i));
					arraySum = nuevo2.reduce(function(a, b){ return a + b; }, 0);
					$(".totalPrice").text(arraySum);
					sum = parseInt($(".totalPrice").text());		
				}
			})
			
			$('.addOrderBtn').click(function(){
				
				if($('.inputBox').is(":checked")==false){
					
					$(this).attr('type',"button");
					alert("장바구니에 상품이 없습니다.");
				}else{
					$(this).attr('type',"submit");
				//배열선언
				var chkArray = new Array();
				var periodArray = new Array();
				var priceArray = new Array();
				
				$('.inputBox:checked').each(function(){
					chkArray.push(this.value);
					periodArray.push($(this).parent().parent().find('.selectBox').val());
					priceArray.push($(this).parent().parent().find('.rentalPrice').text());
					//console.log($(this).parent().parent().find('.selectBox').val());
				
				})
							
							
				$('.wishlistNo').val(chkArray);
				$('.periodArray').val(periodArray);
				$('.rentalPriceArray').val(priceArray);

				
				console.log(chkArray);
				console.log(periodArray);
				console.log(priceArray);
				//console.log($('.inputBox').prop("checked"));
				//console.log($('.inputBox:checked').parent().parent().find('.wishlistNo').val());
				
				
					
					$('form').attr('method', 'POST').attr('action', '/wishlist/addWishRental');
				}
			})
			
			
		
				
			    
			
		})
		dateChange();
		function dateChange(){
			
	
							
				var plusDay1 = parseInt($('.selectBox').eq(0).val());	
				var plusDay2 =  parseInt($('.selectBox').eq(1).val());	
				var plusDay3 = parseInt($('.selectBox').eq(2).val());
				var plusDay4 = parseInt($('.selectBox').eq(3).val());
				var plusDay5 = parseInt($('.selectBox').eq(4).val());
				var plusDay6 = parseInt($('.selectBox').eq(5).val());
				var plusDay7 = parseInt($('.selectBox').eq(6).val());
				var plusDay8 = parseInt($('.selectBox').eq(7).val());
				
			    var now = new Date();
				console.log( moment(now).add(-30,"days").format("YYYY-MM-DD"));
			    $(".dateText").eq(0).text(dateFormat(now));
			    $(".dateText").eq(1).text(moment(now).add(plusDay1,"days").format("YYYY-MM-DD"));	
			    $(".dateText").eq(2).text(dateFormat(now));
			    $(".dateText").eq(3).text(moment(now).add(plusDay2,"days").format("YYYY-MM-DD"));	
			    $(".dateText").eq(4).text(dateFormat(now));
			    $(".dateText").eq(5).text(moment(now).add(plusDay3,"days").format("YYYY-MM-DD"));	
			    $(".dateText").eq(6).text(dateFormat(now));
			    $(".dateText").eq(7).text(moment(now).add(plusDay4,"days").format("YYYY-MM-DD"));	
			    $(".dateText").eq(8).text(dateFormat(now));
			    $(".dateText").eq(9).text(moment(now).add(plusDay5,"days").format("YYYY-MM-DD"));	
			    $(".dateText").eq(10).text(dateFormat(now));
			    $(".dateText").eq(11).text(moment(now).add(plusDay6,"days").format("YYYY-MM-DD"));	
			    $(".dateText").eq(12).text(dateFormat(now));
			    $(".dateText").eq(13).text(moment(now).add(plusDay7,"days").format("YYYY-MM-DD"));	
			    $(".dateText").eq(14).text(dateFormat(now));
			    $(".dateText").eq(15).text(moment(now).add(plusDay8,"days").format("YYYY-MM-DD"));	
			}
		
		//날짜 표기
		function dateFormat(date) {
	        let month = date.getMonth() + 1;
	        let day = date.getDate();
	        let hour = date.getHours();
	        let minute = date.getMinutes();
	        let second = date.getSeconds();
	
	        month = month >= 10 ? month : '0' + month;
	        day = day >= 10 ? day : '0' + day;
	        hour = hour >= 10 ? hour : '0' + hour;
	        minute = minute >= 10 ? minute : '0' + minute;
	        second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day;
}
		function dateFormatAfter(date,plusDay) {					
			
	        let month = date.getMonth() + 1;
	        let day = date.getDate()+plusDay;
	        let hour = date.getHours();
	        let minute = date.getMinutes();
	        let second = date.getSeconds();

	        month = month >= 10 ? month : '0' + month;
	        day = day >= 10 ? day : '0' + day;
	        hour = hour >= 10 ? hour : '0' + hour;
	        minute = minute >= 10 ? minute : '0' + minute;
	        second = second >= 10 ? second : '0' + second;

	        return date.getFullYear() + '-' + month + '-' + day;
	}
		
	})

</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>