<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
</head>
<style>
td{
	padding-bottom:10px !important;
}
.table{
	margin-bottom: 80px !important;
}
.page-header{
margin: 40px 0 0px !important;
border-bottom:3px solid #ddd !important;
}

	.tableBody td {
		width:33%;
 		vertical-align: middle !important;
	}
	
	.tableBody td > div {
		    display: flex;
    		justify-content: center;
	}
	
	.tableBody td img{
		text-align:left;
		width:100px;
	}
	
	.tableBody td span{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}
	
	.borderTopNone{
		border-top:none !important;
	}
	.borderRight{
		border-right:1px solid #ddd;
	}
	.textCenter{
		text-align:center;
	}
	.borderBottom{
		border-bottom:1px solid #ddd;
	}
	.boxScroll {
    width: 96%;
    height: 130px;
    overflow: auto;
    BACKGROUND: #ffffff;
    COLOR: #585858;
    font: 9pt 돋움;
    border: 1px #dddddd solid;
    overflow-x: hidden;
    text-align: left;
    margin-left: 15px;
}
.container.list{
    display: flex;
    justify-content: center;
	padding-right:180px;
	padding-top: 120px;
    width: calc(100% - 210px);
    float: right;
}

input{
    border-radius: 10px;
    border: none;
    background: #efefef;
    margin: 6px;
    padding: 5px;
    font-size:14px;
}

#couponPrice.red{
	color:#ff4d4d;
}

.divyRequest{
	width: 80% !important;
    margin-left: 19px;
}

#check_module{
	padding:5px;
	background:#262626;
	border:none;	
	border-radius:10px;
	color:#fff;
}

.cancel{
	padding:5px;
	background:#262626;
	border:none;	
	border-radius:10px;
	color:#fff;
}
</style>
<body>

<!-- 툴바 include -->
<div th:replace="main/toolbar.html"></div>




<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
<span class="period" style="display:none">[[${period}]]</span>
<span class="reserveTranNo" style="display:none">[[${reserveTranNo}]]</span>
	<div class="page-header text-info">
		</div> <br/>
		
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	<!--전체  ${resultPage.totalCount } 건수, 현재 ${resultPage.currentPage}  페이지   -->	
		    	
		    	</p>
		    
		    </div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 <form class="form-inline" name="detailForm">
	 <input type="hidden" class="tranNoSubmit"  name="tranNo"  th:value="${reserveTranNo}"></input>
	  <input type="hidden" class="periodSubmit" name="period" th:value="${period}"></input>
	  <input type="hidden" name="prodName" th:value="${product.prodName}">
	 <input type="hidden" name="prodNo" th:value="${product.prodNo}">
	 <input type="hidden" class="originPriceSubmit" name="originPrice" ></input>
	 <input type="hidden" class="discountPriceSubmit" name="discountPrice"  value="0"></input>
	 <input type="hidden" class="prodImgSubmit" name="prodImg"  th:value="${product.prodImg}"></input>
	 
	<!--  <input type="hidden" id="currentPage" name="currentPage" value=""/>-->
		 <!--  table Start /////////////////////////////////////-->
      <table class="table table-hover table-striped">
      	       <h3 style="margin-bottom:40px;">주문하기</h3>
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">상품정보</th>
	            <th align="center" >결제금액</th>   
	          </tr>
	        </thead>
	        
	        <tbody> 
			    <tr class="tableBody">
				    <td align="left">
				    	<div class="productInfo">
					    	<img style="width:100px;height:125px;" th:src="@{/images/uploadFiles/} + ${product.prodImg}" >
					    	<span>
						    		[[${product.prodName}]]	
						    		<div style="display:flex; align-items: center;">
						    	<span class="dateText">
				    		</span>
				    				~
				    		<span class="dateText">
				    		</span>
						    	</div>
					    	</span>
						</div>
				    </td>
				    <span class="hiddenGetRentalPrice" style="display:none;" th:text="${product.rentalPrice}"></span>
				     <td th:if="${productUserId}==${userId}">
						 	<span> 3000원</span>
		 			</td> 
		 			
				        <td th:unless="${productUserId}==${userId}" align="center" class="getRentalPrice">
				    		[[${product.rentalPrice}]]원 
				      </td>
				    	
			    </tr>
			
	        </tbody>

      </table>
		<!--  table End /////////////////////////////////////-->			
     
      
    <div style="margin-top:20px; color:#a76161; padding-bottom:10px;">
			주문서작성
		</div>
      <table width="100%" style="border:1px solid #DEDEDE" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
	01 주문자정보
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody><tr>
		<td>주문하시는분</td>
		<td><input type="text" class="receiverName" name="receiverName" value="" style="font-weight:bold" required="" msgr="주문하시는분의 이름을 적어주세요"></td>
	</tr>
	
	<tr>
		<td>휴대폰번호</td>
		<td>
		<input type="text" class="receiverPhone1" value="" size="3" maxlength="3" option="regNum" required="" label="주문자 핸드폰번호"> -
		<input type="text" class="receiverPhone2" value="" size="4" maxlength="4" option="regNum" required="" label="주문자 핸드폰번호"> -
		<input type="text" class="receiverPhone3"  value="" size="4" maxlength="4" option="regNum" required="" label="주문자 핸드폰번호">
		<input type="hidden" class="receiverPhone" name="receiverPhone" value="">
		</td>
	</tr>
	
	</tbody></table>

	</td>
</tr>
</tbody></table>
<div style="font-size:0;height:5px"></div>
<table width="100%" style="border:1px solid #DEDEDE" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
	02 배송정보
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody><tr>
		<td class="noline">
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	
	<tr>
		<td>픽업주소</td>
		<td>
		<div class="form-group">
	 <div class="col-sm-5">
		  <input type="hidden"  class="pickupAddress" name="pickupAddress" value=''>		
		  <span style="display:flex;">	
		  <input type="text" id="pickup_postcode" name="pickupPostcode" placeholder="우편번호">
		  	 <input type="button" onclick="pickup_execDaumPostcode()" value="우편번호 찾기" style="background:#9a9a9a; color:#fff;"><br>
		  </span>
	     <input type="text" id="pickup_address"  name="pickupBaseAddress" placeholder="주소" style="width:310px"><br>
	     <input type="text" id="pickup_extraAddress"  name="pickupExtraAddress" placeholder="참고항목" style="width:310px">
		 <input type="text" id="pickup_detailAddress"  name="pickupDetailAddress" placeholder="상세주소" style="width:310px">
		   </div>
</div>
		</td>
	</tr>
	
				<tr>
		<td>반송주소</td>
		<td>
	 <div class="form-group">
	 <div class="col-sm-5">
		  <input type="hidden"  class="divyAddress" name="divyAddress" value="">
		  <span style="display:flex;">	
		 	<input type="text" id="divy_postcode" name="divyPostcode" placeholder="우편번호">
		 	<input type="button" onclick="divy_execDaumPostcode()" value="우편번호 찾기" style="background:#9a9a9a; color:#fff;"><br>
		 </span>
	     <input type="text" id="divy_address"  name="divyBaseAddress" placeholder="주소"   style="width:310px"><br>
	     <input type="text" id="divy_extraAddress"  name="divyExtraAddress" placeholder="참고항목"  style="width:310px">
		 <input type="text" id="divy_detailAddress"  name="divyDetailAddress" placeholder="상세주소"  style="width:310px">
		   </div>
</div>  
	</tr>
	
	

	<tr>
		<td>남기실 말씀</td>
		<td><input type="text" name="divyRequest" style="width:100%" class="divyRequest"></td>
	</tr>
	
	<tr id="delivery_check" style="display:none;">
		<td>&nbsp;</td>
		<td>
			<input type="checkbox" name="delivery_add" id="delivery_add" value="y" onclick="deliveryAddCheck('delivery_add', this);"><label for="delivery_add">배송지 목록에 추가</label>
			<input type="checkbox" name="delivery_default" id="delivery_default" value="y" onclick="deliveryAddCheck('delivery_default', this);"><label for="delivery_default">기본 배송지로 선택</label>
		</td>
	</tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr id="paper_delivery_menu">
		<td></td>
		<td class="noline">
	
		<div style="float:left"> </div>
		</td>
	</tr>
	</tbody></table>

	</td>
</tr>
</tbody></table>
<div style="font-size:0;height:5px"></div>

<table width="100%" style="border:1px solid #DEDEDE;" cellpadding="0" cellspacing="0">
<tbody>
<tr 	th:if="${productUserId}!=${userId}">
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
		03 쿠폰 
	</td>
	<td style="padding:10px">
	 <select class="coupon" name= "coupon">
	 		<option >-- 선택 --</option>   	
	 		<option>0.99</option>
	 		<option>0.98</option>
	       	 <option th:each="ownCoupon : ${list}"  class="couponThis" th:text="${ownCoupon.ownCoupon.couponName}"  th:value="${ownCoupon.ownCoupon.discount}">	       
	       	 </option>  	
          </select>	 
	</td>
</tr>
</tbody>

</table>
<div style="font-size:0;height:5px"></div>

<table width="100%" style="border:1px solid #DEDEDE;" cellpadding="0" cellspacing="0">
<tbody>
<tr>
	<td th:if="${productUserId}!=${userId}" width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:40px !important;">
		04 결제금액
	</td>
	<td th:unless="${productUserId}!=${userId}" width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:10px !important;">
		04 결제금액
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody>
	
	<tr	th:if="${productUserId}!=${userId}">
		<td>합계금액</td>
		<td 	th:if="${productUserId}==${userId}">
			3000원
		</td>
		
		<td 	th:unless="${productUserId}==${userId}"><p id="paper_goodsprice" style="width:146px;text-align:right;font-weight:bold;float:left;margin:0">[[${product.rentalPrice}]]</p> 원</td>
	</tr>
	
	<tr	th:if="${productUserId}!=${userId}">
		<td>쿠폰할인금액</td>
		<td>
			<p id="couponPrice" style="width:146px;text-align:right;font-weight:bold;float:left;margin:0">0</p> 원
		</td>
	</tr>
	


	<tr>
		<td>총 결제금액</td>

 		 <td th:if="${productUserId}==${userId}">
		 	<span> 3000원</span>
		 </td> 
		 
		 <td th:unless="${productUserId}==${userId}">
				 <span id="resultPrice" style="width:146px;text-align:right;font:bold 14px tahoma; color:FF6C68;">[[${product.rentalPrice}]]</span> 원
		</td>
		
		
		<input type="hidden" name="resultPrice" class="resultHiddenPrice"></input>
	</tr>
	</tbody></table>
	</td>
</tr>
</tbody>

</table>
<div style="padding:20px; margin-bottom:70px; margin-top:40px;" align="center" class="noline">
	<button type="button" id="check_module">결제하기</button>
	<button class="cancel">취소하기</button>
</div>
	</form>
</div>
 <!-- <button id="check_module" type="button">아임 서포트 결제 모듈 테스트 해보기</button> -->
<!-- footer -->
     <div th:replace="main/footer.html"></div>
 
</body>

<script src="/js/jquery_min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
$(function(){
	var calculatePrcie =$('.period').text()*parseInt($(".hiddenGetRentalPrice").text()) * 0.5;
	console.log("기간"+ $('.period').text());
	console.log("머니"+parseInt($(".hiddenGetRentalPrice").text()));
	
	console.log($('.period').text()*parseInt($(".hiddenGetRentalPrice").text()));
	
	$('.getRentalPrice').text($('.period').text()*parseInt($(".hiddenGetRentalPrice").text())/2+"원");
	$("#paper_goodsprice").text($('.period').text()*parseInt($(".hiddenGetRentalPrice").text())/2);
	$('#resultPrice').text($('.period').text()*parseInt($(".hiddenGetRentalPrice").text())/2);
		
})
$(function(){
	$('#check_module').click(function(){
		
	
		
console.log("할인금애액"+$('.discountPriceSubmit').val());
		
		$('.originPriceSubmit').val($('#paper_goodsprice').text());
		$('.resultHiddenPrice').val($("#resultPrice").text()); 
		 console.log("yaya"+$('.resultHiddenPrice').val());
		 combinePhone();
		 combineAddr();
		 
		 //////////////////////////////유효성체크//////////////////////////////////////////////////////////
			var receiverName = $('.receiverName').val();
			var receiverPhone1 = $('.receiverPhone1').val();
			var receiverPhone2 = $('.receiverPhone2').val();
			var receiverPhone3 = $('.receiverPhone3').val();
			var pickupPostcode = $('#pickup_postcode').val();
			var pickupAddress = $('.pickupAddress').val();
			var divyPostCode = $('#divy_postcode').val();
			var divyAddress = $('.divyAddress').val();
			var divyRequest = $('.divyRequest').val();
			var pickupDetailAddress = $('#pickup_detailAddress').val();
			var divyDetailAddress = $('#divy_detailAddress').val();
			
			if(receiverName==""){
				alert("주문자이름을 입력해주세요");
				return;
			}else if(receiverPhone1=="" ||receiverPhone2=="" ||receiverPhone3=="" ){
				alert("휴대폰번호를 입력해주세요");
				return;
			}else if(pickupPostcode=="" || pickupAddress=="" ||  divyPostCode=="" ||divyAddress==""||pickupDetailAddress==""||divyDetailAddress==""){
				alert("주소를 입력해주세요");
				return;
			}
			//////////////////////////////////////////////////////////////////////////////////////
			
			console.log("디버기어깅");
		request_pay();
	})

	function request_pay(){
			var tranNo = $('.reserveTranNo').text();
			var paymentResultPrice = parseInt($('#resultPrice').text());
			var prodName = $("input[name='prodName']").val();
			console.log("?");
			console.log(tranNo);
			console.log(paymentResultPrice);
			console.log(prodName);
			IMP.init("imp88340030");
				
			 IMP.request_pay({
			    	pg : "html5_inicis", 
			        pay_method : 'card',
			        merchant_uid :tranNo,//주문번호
			        name : '에탄올 난로 미니',
			        amount : paymentResultPrice,
			    }, function(rsp) {
	    	console.log(rsp);
	    	$.ajax({

	        	type : "POST",
	        	url : "/payment/json/verifyIamport?imp_uid=" + rsp.imp_uid 
	        	
	        }).done(function(data) {
	        	
	        	console.log(data);
	        	
	        	if(rsp.paid_amount == data.response.amount){
		        	alert("결제 및 결제검증완료");
		        		$('form').attr('method', 'POST').attr('action', '/rental/addRental?paymentNo='+rsp.imp_uid).submit()
		        	
	        	} else {
	        		alert("결제 실패");
	        	}
	        });
	    });
			
			
		}
})


</script>
<!-- 
<script>   
$("#check_module").click(function () {
var IMP = window.IMP; // 생략가능 
IMP.init('imp88340030');     
// 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용   
// i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드   
IMP.request_pay({        
	pg: 'inicis', // version 1.1.0부터 지원.       
	/*                 'kakao':카카오페이,          
	html5_inicis':이니시스(웹표준결제)       
	'nice':나이스페이          
	'jtnet':제이티넷   
	'uplus':LG유플러스       
	'danal':다날                 
	'payco':페이코          
	'syrup':시럽페이            
	'paypal':페이팔             
	*/    
	pay_method: 'card',      
	/*                
	'samsung':삼성페이,            
	'card':신용카드,            
	'trans':실시간계좌이체,          
	'vbank':가상계좌,           
	'phone':휴대폰소액결제         
	*/          
	merchant_uid: 'merchant_' + new Date().getTime(),    
	/*             
	merchant_uid에 경우  
	https://docs.iamport.kr/implementation/payment     
	위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.        
	참고하세요.         
	나중에 포스팅 해볼게요.    
	*/         
	name: '주문명:결제테스트',     
	//결제창에서 보여질 이름         
	amount: 1000,       
	//가격          
	buyer_email: 'iamport@siot.do',   
	buyer_name: '구매자이름',   
	buyer_tel: '010-1234-5678',    
	buyer_addr: '서울특별시 강남구 삼성동',     
	buyer_postcode: '123-456',    
	m_redirect_url: 'https://www.yourdomain.com/payments/complete'     
	/*            
	모바일 결제시,     
	결제가 끝나고 랜딩되는 URL을 지정      
	(카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐)    
	*/    
	}, function (rsp) {  
		console.log(rsp);     
		if (rsp.success) {         
			var msg = '결제가 완료되었습니다.';        
			msg += '고유ID : ' + rsp.imp_uid;   
			msg += '상점 거래ID : ' + rsp.merchant_uid;   
			msg += '결제 금액 : ' + rsp.paid_amount;      
			msg += '카드 승인번호 : ' + rsp.apply_num;         
			} else {            
				var msg = '결제에 실패하였습니다.';   
				msg += '에러내용 : ' + rsp.error_msg;    
				}        
		alert(msg);  
		}); 
});
</script>
 -->
<script>  

function pickup_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("pickup_extraAddress").value = extraAddr;
            
            } else {
                document.getElementById("pickup_extraAddress").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('pickup_postcode').value = data.zonecode;
            document.getElementById("pickup_address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("pickup_detailAddress").focus();
        }
    }).open();
}

function divy_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("divy_extraAddress").value = extraAddr;
            
            } else {
                document.getElementById("divy_extraAddress").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('divy_postcode').value = data.zonecode;
            document.getElementById("divy_address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("divy_detailAddress").focus();
        }
    }).open();
}

 
    $(function(){
    	
    	const PRICE = $('#paper_goodsprice').text().replace(",","");
    	
    	console.log(PRICE);
    	
    	$(".coupon").on("click",function(){
    		
    		if($(".coupon option:selected").val()!=="-- 선택 --"){    			
    		
    	    	    var sText = $('#paper_goodsprice').text();
    	    	    var rText=  sText.replace(",",""); //90870원    	 
    	    	    var resultPrice;
    	    	    let outPutPrice;
    	    	    let convertPrice;
    	    	 	let couponPrice;
    	            let convertCouponPrice;
    	    			    	   
    	    	    console.log("sText"+sText);

    	    		  if($(".coupon option:selected").val()<1){    	    			      	    			  
    	    		  		 outPutPrice =PRICE - PRICE.replace(".0","") *$(".coupon option:selected").val().replace(".0","");		
    	    	    		 convertPrice = outPutPrice.toLocaleString();
    	    	    		 couponPrice = PRICE*$(".coupon option:selected").val();
    	    	    		 convertCouponPrice =  couponPrice.toLocaleString();    	  
    	    	    		 $('#couponPrice').addClass("red");
    	    	    		 resultPrice = rText *$(".coupon option:selected").val();    
    	    	    		 resultPrice = rText-resultPrice;
    	    	    		 $('#resultPrice').text(rText-resultPrice);
      	    	    } else{      	    	    	
	      	    	  		 outPutPrice =PRICE.replace(".0","") -$(".coupon option:selected").val().replace(".0","");		
	        	    		 convertPrice = outPutPrice.toLocaleString();
	        	    		 couponPrice = $(".coupon option:selected").val().replace(".0","") // 5000원
	        	    		 convertCouponPrice = parseInt(couponPrice).toLocaleString();        	
	        	    		 $('#couponPrice').addClass("red");
	        	    		 
	        	    		 resultPrice = rText -$(".coupon option:selected").val(); 
	        	    		 $('#resultPrice').text(resultPrice);
      	    	    }
    	    		

    	    	    //계산
    	    	 
    	    	    
    	    	    //계산값
    	    	    console.log("계산값"+resultPrice);
    	    	    
    	    	    //쿠폰값 텍스트 대체
    	    	    $('#couponPrice').text("-"+convertCouponPrice);  
    	    	    
    	    	    if(parseInt($(this).val().replace(".0",""))>$('#paper_goodsprice').text()){
 	    	    	   $('#resultPrice').text("0");
 	    	    	   console.log('ggg');
 	    	    }else{
 	    	    	console.log($(this).val());
 	    	    	console.log($('#paper_goodsprice').text());
 	    	    	console.log('qqqs');
 	    	    	   $('#resultPrice').text(resultPrice);
 	    	    }
    	    	    //계산값 텍스트 대체
    	    	    
    	    		$('.discountPriceSubmit').val(convertCouponPrice.replace(",",""));
    	    	    console.log($('.discountPriceSubmit').val());
    		}else{
    			 $('#couponPrice').removeClass("red");
    			   $('#couponPrice').text("0");  
    			   $('#resultPrice').text(parseInt(PRICE).toLocaleString());
    			   
    			   $('.discountPriceSubmit').val(0);
    			   console.log($('.discountPriceSubmit').val());
   		}
    	 
    	})
    	 
    })
    
    
	 //csv를 넣어 주소를 하나로 합치는 함수
	 
	 function combineAddr(){
		 
		 //디버깅
		 //alert($("input[name='postcode']").val())
		 
		 var pickupAddrValue = "";
		 
		 var pickupAddrValue = $("input[name='pickupPostcode']").val() + "/"  + $("input[name='pickupBaseAddress']").val() + "/" 
			+  $("input[name='pickupDetailAddress']").val() + "/" +  $("input[name='pickupExtraAddress']").val();
		 
		 $('.pickupAddress').val(pickupAddrValue);
		
		//alert(pickupAddrValue);
		 
		 var divyAddrValue = "";
		 
		 var divyAddrValue = $("input[name='divyPostcode']").val() + "/"  + $("input[name='divyBaseAddress']").val() + "/" 
			+  $("input[name='divyDetailAddress']").val() + "/" +  $("input[name='divyExtraAddress']").val();
		 
		 $('.divyAddress').val(divyAddrValue);
		
		// alert(divyAddrValue);
		 
	 }
	 
	 //csv를 넣어 전화번호를 합치는 함수
	 function combinePhone(){
		 
		 //디버깅
		 
		 var receiverPhone = "";
		 
		 var receiverPhone = $(".receiverPhone1").val() + "/"  + $(".receiverPhone2").val() + "/" 
			+  $(".receiverPhone3").val();
		 
		 $('.receiverPhone').val(receiverPhone);
			
		
		
		// alert(receiverPhone); 
	 }
	 
		$(function(){
			 $(".payment").on("click", function(){
				 
				 combineAddr(); // 주소합침
				 combinePhone();//폰 번호 합침
				 var numConvert = parseInt($('#resultPrice').text().replace(",","")); 
				 
				 console.log("정수치환"+numConvert);
				 
				 $('.resultHiddenPrice').val(numConvert) //최종결제금액 , 파싱해서 전달
				 
				 console.log("receiverName"+$('.receiverName').val()); // receiverName
				 console.log("최종 결제 금액"+$('.resultHiddenPrice').val()); // 최종 결제 금액
				 console.log("주문자 휴대폰번호"+$('.receiverPhone').val()); // 주문자 휴대폰번호
				 console.log("픽업주소"+$('.pickupAddress').val()); // 픽업주소
				 console.log("반송주소"+$('.divyAddress').val());     //반송주소
				 console.log("남기실말씀"+$('.divyRequest').val());     //남기실말씀

				 
				$('form').attr('method', 'POST').attr('action','/rental/addRental').submit();
			 })
		 }) 
	 
    
    
   
</script>
<script>
	$(function(){
		dateChange();
		
		function dateChange(){
			var period = parseInt($('.period').text());
		   var now = new Date();
		   var newDate = new Date(now);
		  
		   
		   newDate.setDate(newDate.getDate()+period);
		   
		   var nd = new Date(newDate);
		    			    			   
		    $(".dateText").eq(0).text(dateFormat(now));
		    $(".dateText").eq(1).text(dateFormat(nd));	

		}
	
	//날짜 표기
	function dateFormat(date) {
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        hour = hour >= 10 ? hour : '0' + hour;
        minute = minute >= 10 ? minute : '0' + minute;
        second = second >= 10 ? second : '0' + second;

    return date.getFullYear() + '-' + month + '-' + day;
}
	function dateFormatAfter(date,plusDay) {					
		
        let month = date.getMonth() + 1;
        let day = date.getDate()+plusDay;
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        hour = hour >= 10 ? hour : '0' + hour;
        minute = minute >= 10 ? minute : '0' + minute;
        second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day;
}
		
	
	})
</script>

	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>