<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	
</head>
<style>
.table{
	margin-bottom: 80px !important;
}
.page-header{
margin: 40px 0 0px !important;
border-bottom:3px solid #ddd !important;
}

	.tableBody td {
		width:33%;
 		vertical-align: middle !important;
	}
	
	.tableBody td > div {
		display:flex;
	}
	
	.tableBody td img{
		text-align:left;
		width:100px;
	}
	
	.tableBody td span{
		display:flex;
		align-items:center;
		padding:10px;
	}
	
	.borderTopNone{
		border-top:none !important;
	}
	.borderRight{
		border-right:1px solid #ddd;
	}
	.textCenter{
		text-align:center;
	}
	.borderBottom{
		border-bottom:1px solid #ddd;
	}
</style>
<body>

<!-- 로딩시 뜨는 아이콘 -->
	<!-- <div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>
 -->

<!-- 툴바 include -->
<div th:replace="main/toolbar.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list" style="padding-right:150px;">
	<div class="page-header text-info">
		       <h3>대여물품정보</h3>
		</div>
		
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	<!--전체  ${resultPage.totalCount } 건수, 현재 ${resultPage.currentPage}  페이지   -->	
		    	
		    	</p>
		    
		    </div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 <form class="form-inline" name="detailForm">
	 <input type="hidden" id="currentPage" name="currentPage" value=""/>
		 <!--  table Start /////////////////////////////////////-->
      <table class="table table-hover table-striped">
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">상품정보</th>
	            <th align="center" >상품금액</th>   
	          </tr>
	        </thead>
	        
	        <tbody> 
			   <tr class="tableBody" th:each="rentalList,index :${rentalList}">	 
			        	<span class="getPeriod" style="display:none">[[${rentalList.period}]]</span>
				    	  
					     <td align="center">
					    	<div class="productInfo">
					    		<a href="/product/getProduct?prodNo=j">
						    		<img  class="productImg"  th:src="@{/images/uploadFiles/} + ${rentalList.purchaseProd.prodImg}" >
						    	</a>
						    	
						    	<div style="width:220px;padding:10px;">
						    	
						    		 <a href="/product/getProduct?prodNo=j">
							    		<p style="margin-bottom: 10px; font-weight: bold" class="getProdName">[[${rentalList.purchaseProd.prodName}]] </p>
							    		
							 	   </a>
							    
							    
							    	<div style="display:flex; justify-content:center;">

										<p class="dateText">
							    			</p>
							    		~
							    		<p class="dateText">
										</p>
							  			
							  		</div>
			<div style="display:none;">
					    		 	  <span th:if="${rental.period}=='2'">(1박2일)<span style="display:none" class="period">2</span></span>
									  <span th:if="${rental.period}=='3'">(2박3일)<span style="display:none" class="period">3</span></span>
									  <span th:if="${rental.period}=='4'">(3박4일)<span style="display:none" class="period">4</span></span>
									  <span th:if="${rental.period}=='5'">(4박5일)<span style="display:none" class="period">5</span></span> 
					</div>		  
						    	</div>
							</div>
					    </td>
								 <td class="tdCenter rentalPrice" style="text-align:center;" th:text = "${rentalList.purchaseProd.rentalPrice}"> 
			   		 </tr>
	        </tbody>

      </table>
		<!--  table End /////////////////////////////////////-->
		
		

      
      
				<div class="page-header text-info">
		       <h3>결제정보</h3>
		</div>
		
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	<!--전체  ${resultPage.totalCount } 건수, 현재 ${resultPage.currentPage}  페이지   -->	
		    	
		    	</p>
		    
		    </div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 <form class="form-inline" name="detailForm">
	 <input type="hidden" id="currentPage" name="currentPage" value=""/>
		 <!--  table Start /////////////////////////////////////-->
      <table class="table">
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">주문금액 [[${rental.originPrice}]]원 - </th>
	            <th align="center" >할인금액 [[${rental.discountPrice}]]원 = </th>   
	            <th align="center">결제금액 [[${rental.resultPrice}]]원</th>
	          </tr>
	        </thead>
	        
	        <tbody> 
			    <tr class="tableBody">
				    <td align="center" class="borderBottom">
						    	상품금액 [[${rental.originPrice}]]원
				    </td>
					<td align="center" class="borderBottom"> 쿠폰할인 [[${rental.discountPrice}]]원</td>
					<td align="center" class="borderBottom">  [[${rental.resultPrice}]]원</td>
			    </tr>
	        </tbody>

      </table>
      
   <div class="page-header text-info">
		       <h3>배송지정보</h3>
		</div>
		
		<table class="table payment">
	      <tbody>
		       <tr style="background-color:#fff; border-top:none;">
		            <th scope="row" class="borderTopNone borderRight textCenter borderBottom"> 주문자</th>
		            <td class="borderTopNone borderBottom" th:text="${rental.receiverName}">
		            </td>
		             <td class="borderBottom"/>
		         <td class="borderBottom"/>
		        </tr>
		        
		     <tr style="background-color:#fff; border-top:none;">
		            <th scope="row" class="borderTopNone borderRight textCenter borderBottom"> 전화번호</th>
		            <td class="borderTopNone borderBottom" th:text="${rental.receiverPhone}">
		            </td>
		             <td class="borderBottom"/>
		         <td class="borderBottom"/>
		        </tr>
		      
		         <tr style="background-color:#fff; border-top:none;">
		            <th scope="row" class="borderTopNone borderRight textCenter borderBottom"> 픽업주소</th>
		            <td class="borderTopNone borderBottom" th:text="${rental.pickupAddress}">
		            </td>
		         <td class="borderBottom"/>
		         <td class="borderBottom"/>
		        </tr>
		        
		          <tr style="background-color:#fff; border-top:none;">
		            <th scope="row" class="borderTopNone borderRight textCenter borderBottom"> 반송주소</th>
		            <td class="borderTopNone borderBottom" th:text="${rental.divyAddress}">
		            </td>
		         <td class="borderBottom"/>
		         <td class="borderBottom"/>
		        </tr>
		        
		         <tr style="background-color:#fff; border-top:none;">
		            <th scope="row" class="borderTopNone borderRight textCenter borderBottom"> 배송요청사항</th>
		            <td class="borderTopNone borderBottom">
		               [[${rental.divyRequest}]]
		            </td>
		             <td class="borderBottom"/>
		         <td class="borderBottom"/>
		        </tr>
    </tbody>

      </table>
	</form>
</div>
<!--  화면구성 div End /////////////////////////////////////-->

<!-- footer -->
     <div th:replace="main/footer.html"></div>
 
</body>

<script src="/js/jquery_min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
	<script>
	 /*  $(document).ready(function() {
			"use strict";
			

		    // Preloader 
		    jQuery(window).on('load', function() {
		        jQuery("#status").fadeOut();
		        jQuery("#preloader").delay(350).fadeOut("slow");
		    });

	  }) */
	  $(function(){
			 
		 	dateChange();
			function dateChange(){
				
					var plusDay1 = parseInt($('.getPeriod').eq(0).text());
					var plusDay2 = parseInt($('.getPeriod').eq(1).text());
					var plusDay3= parseInt($('.getPeriod').eq(2).text());
					var plusDay4 = parseInt($('.getPeriod').eq(3).text());
					var plusDay5 = parseInt($('.getPeriod').eq(4).text());
					var plusDay6 = parseInt($('.getPeriod').eq(5).text());
					var plusDay7 = parseInt($('.getPeriod').eq(6).text());
					var plusDay8 = parseInt($('.getPeriod').eq(7).text());
				
					console.log("san"+plusDay1);
				    var now = new Date();
				    			    			   
				    $(".dateText").eq(0).text(dateFormat(now));
				    $(".dateText").eq(1).text(moment(now).add(plusDay1,"days").format("YYYY-MM-DD"));	
				    $(".dateText").eq(2).text(dateFormat(now));
				    $(".dateText").eq(3).text(moment(now).add(plusDay2,"days").format("YYYY-MM-DD"));	
				    $(".dateText").eq(4).text(dateFormat(now));
				    $(".dateText").eq(5).text(moment(now).add(plusDay3,"days").format("YYYY-MM-DD"));	
				    $(".dateText").eq(6).text(dateFormat(now));
				    $(".dateText").eq(7).text(moment(now).add(plusDay4,"days").format("YYYY-MM-DD"));	
				    $(".dateText").eq(8).text(dateFormat(now));
				    $(".dateText").eq(9).text(moment(now).add(plusDay5,"days").format("YYYY-MM-DD"));	
				    $(".dateText").eq(10).text(dateFormat(now));
				    $(".dateText").eq(11).text(moment(now).add(plusDay6,"days").format("YYYY-MM-DD"));	
				    $(".dateText").eq(12).text(dateFormat(now));
				    $(".dateText").eq(13).text(moment(now).add(plusDay7,"days").format("YYYY-MM-DD"));	
				    $(".dateText").eq(14).text(dateFormat(now));
				    $(".dateText").eq(15).text(moment(now).add(plusDay8,"days").format("YYYY-MM-DD"));	
				}
			
			//날짜 표기
			function dateFormat(date) {
		        let month = date.getMonth() + 1;
		        let day = date.getDate();
		        let hour = date.getHours();
		        let minute = date.getMinutes();
		        let second = date.getSeconds();
		
		        month = month >= 10 ? month : '0' + month;
		        day = day >= 10 ? day : '0' + day;
		        hour = hour >= 10 ? hour : '0' + hour;
		        minute = minute >= 10 ? minute : '0' + minute;
		        second = second >= 10 ? second : '0' + second;

	        return date.getFullYear() + '-' + month + '-' + day;
	}
			function dateFormatAfter(date,plusDay) {					
				
		        let month = date.getMonth() + 1;
		        let day = date.getDate()+plusDay;
		        let hour = date.getHours();
		        let minute = date.getMinutes();
		        let second = date.getSeconds();

		        month = month >= 10 ? month : '0' + month;
		        day = day >= 10 ? day : '0' + day;
		        hour = hour >= 10 ? hour : '0' + hour;
		        minute = minute >= 10 ? minute : '0' + minute;
		        second = second >= 10 ? second : '0' + second;

		        return date.getFullYear() + '-' + month + '-' + day;
		}
			
	 })
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>