<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
</head>
<style>
.container.list {
    padding-top: 95px !important;
    width: calc(100% - 210px);
    float: right;
    max-width:1600px;
}
.leftDiv{
    display: flex;
    padding-top: 180px;
}
.tdCenter{
	text-align:center;
}

	.row{
		display:flex;
	}
	
	.pagination{
		display: flex !important;
   		 justify-content: center;
	}
.searchRight{
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

  /*페이지 관련 */
   .temp{
	display:flex;
	margin-left: -150px;
}

.temp>div{
	padding-left:1px;
}
   
</style>
<body>

<!-- 로딩시 뜨는 아이콘 -->
	<!-- <div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>
 -->

<!-- 툴바 include -->
<div th:replace="main/toolbar.html"></div>
<div th:replace="user/topMyPage.html"></div> 



<!--  화면구성 div Start /////////////////////////////////////-->
<div class="leftDiv">
<div th:replace="main/leftbarMyPage.html"></div> 
<div class="container list">

	<div class="page-header text-info">
		       <h3>렌탈수익내역</h3>
		</div>
		
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	<!--전체  ${resultPage.totalCount } 건수, 현재 ${resultPage.currentPage}  페이지   -->	
		    	
		    	</p>
		  <!--   	전체 <span th:text="${resultPage.totalCount}"/>건수, 현재  <span th:text="${resultPage.currentPage}"/>페이지
		    	  -->
		    </div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 <form class="form-inline" name="detailForm">
	 <input type="hidden" id="currentPage" name="currentPage" value=""/>

	 			
		 <!--  table Start /////////////////////////////////////-->
      <table class="table table-hover table-striped">
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">대여번호</th>
	            <th align="center" >상품정보</th>   
	            <th align="center">대여자유저아이디</th>
	            <th align="center">지급금액</th>
	          </tr>
	        </thead>
	        
	        <tbody> 
	    <tr th:each="rental :${list}">	    
		    <td class="tdCenter" th:text = "${rental.tranNo}"></td>
			<td class="tdCenter" th:text = "${rental.purchaseProd.prodName}"></td>
	 <td class="tdCenter" th:text = "${rental.buyer.userId}"></td> 
			<td class="tdCenter discountResultPrice"  >[[${rental.resultPrice}]]</td>			
	    </tr>	    	    	   
	  <tr style="background-color:#fff;">	    
		    <td></td>
			<td></td>
	 		<td></td> 
			<td style="color:red;" class="tdCenter discountResultPriceTotal" ></td>
	    </tr>
	    	     	
	        </tbody>	      
      </table>    
		<!--  table End /////////////////////////////////////-->
	</form>
	
		<!-- navi start -->
		<div >
		
		<nav class="page-bar" aria-label="Page navigation" align="center" style="width:100%"
		th:with="
			currentPage=${resultPage.currentPage},
			pageUnit=${resultPage.pageUnit},
			beginUnitPage=${resultPage.beginUnitPage},
			endUnitPage=${resultPage.endUnitPage},
			maxPage=${resultPage.maxPage}
		">
		  <ul class="pagination" >
		    <!-- 좌측 navi -->
		    <span th:if="${currentPage}<=${pageUnit}">
				<li class="hidden">
			</span>
			<span th:if="${currentPage}>${pageUnit}">
				<li>
			</span>
		      <a aria-label="Previous" th:onclick="|javascript:fncGetRentalProfitList('${currentPage-1}')|">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
 <span class="temp">
  				<!-- 중앙 -->
	   		  <div th:each="num : ${#numbers.sequence(beginUnitPage,endUnitPage)}" >
				<li class="active"><a th:href="@{#}" th:onclick="|javascript:fncGetRentalProfitList('${num}')|">[[${num}]]</a></li>
			  </div>
</span>
		    <!-- 우측 navi -->
		    <span th:if="${endUnitPage}>=${maxPage}">
				<li class="hidden">
			</span>
			<span th:unless="${endUnitPage}>=${maxPage}">
				<li>
			</span>
		      <a th:onclick="|javascript:fncGetRentalProfitList('${endUnitPage+1}')|" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
		<!-- navi end -->

	
</div>
</div>

<!--  화면구성 div End /////////////////////////////////////-->
	 <!--footer -->
     <div th:replace="main/footer.html"></div>
 
 
</body>

<script src="/js/jquery_min.js"></script>
	<script>
	
//페이징 처리
function fncGetRentalProfitList(currentPage) {
		
		document.getElementById("currentPage").value = currentPage;
	   	document.detailForm.submit();	
	    	
	}
	
	 /*  $(document).ready(function() {
			"use strict";
			

		    // Preloader 
		    jQuery(window).on('load', function() {
		        jQuery("#status").fadeOut();
		        jQuery("#preloader").delay(350).fadeOut("slow");
		    });

	  }) */
	  
	  $(function(){
		  let sum=0;
		  
		  console.log($('.discountResultPrice').eq(1).text()*0.3)
		  console.log($('.discountResultPrice').length);
		  for(var i=0; i<$('.discountResultPrice').length; i++){
			  $('.discountResultPrice').eq(i).text(parseInt( $('.discountResultPrice').eq(i).text())*0.3+"원");	  
			  
			  sum = sum +parseInt($('.discountResultPrice').eq(i).text());
		  }
		 
		  console.log(  parseInt($('.discountResultPriceTotal').text())*0.4  );			  
		  $('.discountResultPriceTotal').text(parseInt($('.discountResultPriceTotal').text())*0.3 +"원");
		  	console.log($('.discountResultPrice').text().split("/"));
		  	
		  var parsingPrice = $('.discountResultPrice').text().split("/");
		  
		$('.discountResultPrice').text();
		
		$('.discountResultPriceTotal').text(sum+"원");
		  
	  })
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>