<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	

</head>
<style>
	.row{
		display:flex;
	}
	
	.pagination{
		display: flex !important;
   		 justify-content: center;
	}
	
		   /*페이지 관련 */
   .temp{
	display:flex;
	margin-left: -90px;
}

.temp>div{
	padding:10px;
	background-color: black;
	
}

.temp>div:hover {
	background-color: blue;
}

	
</style>
<body>

<!-- 툴바 include -->
 <div th:replace="main/toolbarForAdmin.html"></div>
 <div th:replace="main/leftbarForAdmin.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
	<div class="page-header text-info" >
		       <h3 style="color:#000;">대여물품관리</h3>
		   
		</div>
		
			  <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
	    <div class="rowBelow">
	     <div>
	     		<span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	전체
		        </button>
		        <span style="display:none"></span>
		        </span>
			     	<span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	물품대여승인신청중
		        </button>
		        <span style="display:none">물품대여승인신청중</span>
		        </span>
			    <span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	배송중
		        </button>
		        <span style="display:none">배송중</span>
		        </span>
	            <span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	대여중
		        </button>
		        <span style="display:none">대여중</span>
		        </span>
	          
			
		</div>
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	  전체  [[${resultPage.totalCount}]] 건
		    	
		    	</p>
		    </div>
	    </div>
	    
		   
		    
		    <div class="col-md-6 text-right rowBelow">
			    <form class="form-inline" name="detailForm">
			    
	 <input type="hidden" class="prodCondition" name="searchProductCondition" th:value=${search.searchProductCondition}  />

				
			 <div class="form-group">
				<select class="form-control"    name="searchCondition" >
					
					<!-- 서치키워드 입력안하고 검색눌렀을때 어케할까? -->
					<!-- 엔터는 먹히고 검색직접클릭은 안먹힘 -->
						<option th:value=null >전체</option>
						<option th:value="1" th:selected="${search.searchCondition} == '1' ">상품명</option>
						<option th:value="2" th:selected="${search.searchCondition} == '2' ">회원아이디</option>
						<!--  <option th:value="${not #strings.isEmpty(search.searchCondition)} and ${search.searchCondition} == 'prodName' ? 'prodName' : ''  " >상품명</option>--> 
					
					
					</select> 
				 </div>
				  
				 <div class="form-group">
				    <label class="sr-only" for="searchKeyword">검색어</label>
			 
		<input type="text" class="form-control"   id="searchKeyword" name="searchKeyword" 
       th:value="${not #strings.isEmpty(search.searchKeyword)} ? ${search.searchKeyword} : '' "   placeholder="검색어">
       
       </div>
				  <button type="button" class="btn btn-default search-btn">검색</button>
				 
				  
				  
				  <!-- PageNavigation 선택 페이지 값을 보내는 부분 -->
				  <input type="hidden" id="currentPage" name="currentPage" th:value= "${search.currentPage}"/>
				  
			</form>	
	    	</div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
		 <!--  table Start /////////////////////////////////////-->
		  <form class="form-inline2" name="detailForm">
      <table class="table table-hover table-striped">
           
	       <thead>
	          <tr class="tableHeader">
	          <th align="center">
             <input type="checkbox" id="cb1">
            </th>
	            <th align="center">대여번호</th>
	            <th align="center" >유저아이디</th>   
	            <th align="center">상품정보</th>
	            <th align="center">결제금액</th>
	            <th align="center">주문일자</th>			
	  		    <th align="center">진행상태</th>		
	  		    <th align="center"></th>
	          </tr>
	        </thead>
	        
	    
	        <tbody> 
	    
	    <tr th:each="rental :${list}">
	    
	    	<td align="left" th:if="${rental.purchaseProd.prodCondition} != '보관중' "> 
	    		<input  type="checkbox" class="cb2" name="tranNo" th:value="${rental.tranNo}">
	    	</td>
	  
		    <td  th:text = "${rental.tranNo}"></td>
			<td align="center" th:text = "${rental.buyer.userId}"></td>
			<td align="center" th:text = "${rental.prodName}"></td>
			<td align="center" th:text = "${rental.resultPrice}"></td>
			<td align="center" th:text = "${rental.paymentDate}"></td>
			<td align="center" th:text = "${rental.purchaseProd.prodCondition}"></td>
			<td>			
			
			<span class="hiddenProdNo" style="display: none">[[${rental.prodNo}]]</span>				
			<span class="hiddentranNo" style="display: none">[[${rental.tranNo}]]</span>				
			
			<button type="button" class="prodCondition-button"  th:if="${rental.purchaseProd.prodCondition}=='물품대여승인신청중'">배송하기</button>
			<button type="button" class="prodCondition-button"  th:if="${rental.purchaseProd.prodCondition}=='배송중'">배송완료</button>
			<button type="button" class="prodCondition-button"  th:if="${rental.purchaseProd.prodCondition}=='대여중'">대여완료</button>
			</td>	  
		
	    </tr>
	    
	        </tbody>
      </table>
		<!--  table End /////////////////////////////////////-->

 <button  class="updateProdAllCon-btn">일괄업데이트</button>
		</form>
		
		
					<!-- navi start -->
		<div >
		
		<nav aria-label="Page navigation" align="center" style="width:100%"
		th:with="
			currentPage=${resultPage.currentPage},
			pageUnit=${resultPage.pageUnit},
			beginUnitPage=${resultPage.beginUnitPage},
			endUnitPage=${resultPage.endUnitPage},
			maxPage=${resultPage.maxPage}
		">
		  <ul class="pagination" >
		    <!-- 좌측 navi -->
		    <span th:if="${currentPage}<=${pageUnit}">
				<li class="hidden">
			</span>
			<span th:if="${currentPage}>${pageUnit}">
				<li>
			</span>
		      <a aria-label="Previous" th:onclick="|javascript:fncGetRentalListForAdmin('${currentPage-1}')|">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
 <span class="temp">
  				<!-- 중앙 -->
	   		  <div th:each="num : ${#numbers.sequence(beginUnitPage,endUnitPage)}" >
				<li class="active"><a th:href="@{#}" th:onclick="|javascript:fncGetRentalListForAdmin('${num}')|">[[${num}]]</a></li>
			  </div>
</span>
		    <!-- 우측 navi -->
		    <span th:if="${endUnitPage}>=${maxPage}">
				<li class="hidden">
			</span>
			<span th:unless="${endUnitPage}>=${maxPage}">
				<li>
			</span>
		      <a th:onclick="|javascript:fncGetRentalListForAdmin('${endUnitPage+1}')|" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		</div>
		<!-- navi end -->

	
</div>
<!--  화면구성 div End /////////////////////////////////////-->

</body>

<script src="/js/jquery_min.js"></script>
	<script>
	
	//페이지처리
	function fncGetRentalListForAdmin(currentPage) {
		
		 $("#currentPage").val(currentPage)
	
	      $('.form-inline').attr('method', 'POST').attr('action', '/rental/listRentalForAdmin').submit();
	    
	}
	
	
	  $(document).ready(function() {
			"use strict";
			
			
		     $('.coditionBtnhs').on("click",function(){
		    	var inputValue= $(this).find('span').text();
		    	//alert(inputValue);
		    	

		    	$('.prodCondition').attr('value',inputValue);
		    	console.log($('.prodCondition').val());
		    	//alert($('.prodCondition').val());
		    	
		    	 $(".form-inline").attr("method" , "POST").attr("action" , "/rental/listRentalForAdmin").submit(); 
		    		
		    
		    			    
		    }) 
		    
	  })
	  
	  //검색버튼 클릭시 발생이벤트
	  	$(function(){
			$(".search-btn").on("click", function(){
			
			 $('.form-inline').attr('method', 'POST').attr('action','/rental/listRentalForAdmin').submit();
			
		})
	});
	  
///////////////일괄체크
	  $(function(){
	  	$('#cb1').on("click", function(){
	  		
	  	
	  		
	  		if($('#cb1').prop('checked')){
	  			
	  		$('.cb2').prop('checked', true);
	  			
	  		} else{
	  			
	  		$('.cb2').prop('checked', false);
	  		
	  		}
	  		
	  	})
	  	
	  	$('.cb2').on("click", function(){
	  		
	  	
	  		
	  		if($("input[name='check']:checked").length == 11){
	  			
	  		$('#cb1').prop('checked', true);
	  			
	  		} else{
	  			
	  		$('#cb1').prop('checked', false);
	  		
	  		}
	  		
	  	})
	  	
	  });
	  
	  //일괄업데이트
	   $( ".updateProdAllCon-btn" ).on("click" , function() {
		   
		   var checkLength = $("input[name=tranNo]:checkbox:checked").length;
			//alert("checkLength: "+checkLength);
			
			if(checkLength==0){
				alert("체크된 항목이 없습니다");
			} else{
				
				   $('.form-inline2').attr('method', 'POST').attr('action', '/product/updateRentalProductAllCondition').submit();
				
			}
		   
	 		
		}); 
	  
	   //단일업데이트
	   $( ".prodCondition-button" ).on("click" , function() {
		   
		   var prodNum = $(this).parent().find('.hiddenProdNo').text();
		   var tranNum = $(this).parent().find('.hiddentranNo').text();
	
		 	self.location = "/product/updateRentalProductCondition?prodNo="+prodNum+"&tranNo="+tranNum;
		}); 
	  
	  
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>