<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/getReport.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        
</head>
<style>
  .messages {
  height: 450px;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
  .messages ul li {
  display: inline-block;
  clear: both;
  /*float: right;*/  /*left*/
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
  .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}

/*내가 보낸 메세지 설정 */
  .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
  float: right; /*원래 없었음*/
}

  .messages ul li .sent{
  float: right; /*원래 없었음*/
}

/*채팅창에서 대화상대 이미지 */
  .messages ul li.replies img {
  float: left; 
  margin: 6px 0 0 8px;
}

/*남이 보낸 메세지 설정 */
  .messages ul li.replies p {
  background: #f5f5f5;
  float: left;  
}

  .messages ul li.replies{
  float: left; /*원래 없었음*/
}

/*채팅창 에서의 메세지 공통 설정*/
  .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}

/*채팅 시각 설정*/
.messages ul li div{
  font-size: 0.7em;
}
</style>




<body>
	<!-- Navigation-->
	<div th:replace="main/toolbar.html"></div>
	<div th:replace="main/leftbar.html"></div>



	<div class="card-wrapper">
		<div class="card">
			<!-- card left -->
			<div class="product-imgs">
				<div class="img-display">
					<div class="img-showcase">
						<img th:src="@{/images/content/fff.png}"> 
						<img th:src="@{/images/content/ccc.jpg}">
						<img th:src="@{/images/content/fff.png}"> 
						<img th:src="@{/images/content/fff.png}">
					</div>
				</div>
				<div class="img-select">
					<div class="img-item">
						<a href="#" data-id="1"> <img th:src="@{/images/content/fff.png}">
						</a>
					</div>
					<div class="img-item">
						<a href="#" data-id="2"> <img th:src="@{/images/content/ccc.jpg}">
						</a>
					</div>
					<div class="img-item">
						<a href="#" data-id="3"> <img th:src="@{/images/content/fff.png}">
						</a>
					</div>
					<div class="img-item">
						<a href="#" data-id="4"> <img th:src="@{/images/content/fff.png}">
						</a>
					</div>
				</div>
			</div>
			<!-- card right -->
			<div class="product-content">
				<h2 class="product-title" th:text=${old.oldTitle}></h2>
				<div class="categoryaddr">
					<div class="category" th:text=${old.category}></div>
					/
					<div class="oldAddr" th:text=${old.oldAddr}></div>
				</div>
				<!--       <a href = "#" class = "product-link">visit nike store</a> -->
				<!--     <div class="userProfile">   -->
				<!--     <p class="fa-solid fa-circle-user"></p> -->
				<!--      </div> -->

				<!--     <a href = "#"> -->
				<!--           <img alt="" src="/images/content/danielstorage"> -->
				<!--         </a> -->
				<!--      //////////////////// -->
				<div class="user">
					<table>
						<tr>
							<td>
								<div class="userProfile">
									<a th:href="@{/user/getUser(userId=${old.userId})}"
										style="height: 54;"> <img
										src="https://randomuser.me/api/portraits/men/52.jpg"
										alt="A man smiling" /></a>
								</div>
							</td>
							<td>
								<p>
									<span class="a" th:text=${old.userId}></span>
								</p>

							</td>
						</tr>
					</table>
				</div>

				<div class="purchase-info">
					<button type="button" class="btn">
						신고 승인
					</button>
				</div>
				
				<div class="purchase-info2">
					<button type="button" class="btn">
						신고 반려
					</button>
				</div>


				
				<div class="product-price">
					<!--         <p class = "last-price">Old Price: <span>$257.00</span></p> -->
					<span th:text=${old.oldPrice}></span> <span>원</span>
				</div>

				<div class="product-detail">
					<p class="detail" th:text=${old.oldDetail}></p>
				</div>
				<!-- END old List -->
			</div>
			
			
			<!-- 채팅 내역 시작 -->
			<div class="messages" style="margin-top: 200px;">
			<span> 채팅 내역</span> 
		        <ul >
		        	<th:block th:each="chat :${chatList}">
		   		     <th:block th:if="${chat.sendUserId}==${reportUser}">
			            <li class="sent">
			            <p th:text="${chat.chatMessage}"></p>
			            <br/>
			            <div class="sent" name="createdAt" th:text="${chat.createdAt}"></div>
			            </li>
					 </th:block>
					 <th:block th:if="${chat.sendUserId}!=${reportUser}">
			            <li class="replies">
			            <p th:text="${chat.chatMessage}"></p>
			            <br/>
			            <div class="replies" name="createdAt" th:text="${chat.createdAt}"></div>
			            </li>
					 </th:block>
					</th:block>
				</ul>
			</div>
			<!-- 채팅 내역 끝 -->
			
		</div>
	</div>
	
	
<!-- Footer-->
        <div th:replace="main/footer.html"></div>

<script src="/js/getOld.js"></script>
<script>
   
</script>
</body>

</html>