<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	

</head>
<style>
	.row{
		display:flex;
	}
	
	.pagination{
		display: flex !important;
   		 justify-content: center;
	}
</style>
<body>

<!-- 툴바 include -->
 <div th:replace="main/toolbarForAdmin.html"></div>
 <div th:replace="main/leftbarForAdmin.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
	<div class="page-header text-info" >
		       <h3 style="color:#000;">신고 관리</h3>
		   
		</div>
		
	
		 <!--  table Start /////////////////////////////////////-->
		  <form class="form-inline2" name="detailForm">
      <table class="table table-hover table-striped">
           
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">신고번호</th>
	            <th align="center">신고자</th>
	            <th align="center">피신고자</th>	      
	            <th align="center">신고사유카테고리</th>
	            <th align="center">신고접수일</th>
	            <th align="center">신고게시물번호</th>
	            <th align="center">처리결과</th>	
	            <th align="center"></th>
	          </tr>
	        </thead>
	        
	    
	        <tbody> 
	    
	    <tr th:each="report :${reportList}">
			<td align="center" th:text = "${report.reportNo}"></td>
			<td align="center" th:text = "${report.reportUser}"></td>
			<td align="center" th:text = "${report.reportedUser}"></td>
			<td align="center" th:text = "${report.reportCategory}"></td>
			<td align="center" th:text = "${report.reportDate}"></td>
			<td align="center" th:text = "${report.reportOldNo}"></td>
			<td align="center" th:text = "${report.reportCode}"></td>
			<td align="center" >			
			<input type="hidden"  class="reportNum" name="reportNo" th:value="${report.reportNo}" />				
			<button type="button" class="report-button" th:value="${report.reportNo}">확인하기</button>
			</td>	  
		
	    </tr>
	    
	        </tbody>
      </table>
		</form>
		<!--  table End /////////////////////////////////////-->


	<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span
					class="sr-only">Previous</span>
			</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
					class="sr-only">Next</span>
			</a></li>
		</ul>
</div>
<!--  화면구성 div End /////////////////////////////////////-->

</body>

<script src="/js/jquery_min.js"></script>
	<script>
	  $(document).ready(function() {
			"use strict";
			
			
		     $('.coditionBtnhs').on("click",function(){
		    	var inputValue= $(this).find('span').text();
		    	//alert(inputValue);
		    	

		    	$('.prodCondition').attr('value',inputValue);
		    	console.log($('.prodCondition').val());
		    	//alert($('.prodCondition').val());
		    	   		
		    	
		    	
		    
		    			    
		    }) 
		    
		    $("button").on("click",function(){
		    	var reportNo = $(this).val();
		    	console.log(reportNo);
		    	window.open('/report/getReport?reportNo='+reportNo);
		    });
		    
	  })
	  

	  
	  
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>